.single-bordered {
  border: 1px solid grey;
  padding: 2px 0;
}

.collection {
  display: flex;
  flex-direction: column;

  .collection-item {
    margin: 20px 0;
    height: 80px;
  }
}

.collection .collection-item.first-stage {
  margin: 0px 0; // minimal spacing between matches
}

.collection .collection-item.second-stage {
  margin: 40px 0; // matches spaced further apart
}

.collection .collection-item.third-stage {
  margin: 120px 0; // even more spacing
}

.collection .collection-item.fourth-stage {
  margin: 280px 0; // maximum spacing for final stages
}

.header-main-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  min-width: 300px;
}

.header-center-content {
  flex: 1;
  order: 1;
}

.header-right-content {
  width: 6rem;
  order: 2;
}

.collection-item.no-lines {
  border-bottom: 0;
}
