<mat-expansion-panel [expanded]="true" hideToggle>
  <mat-expansion-panel-header cdkDropList collapsedHeight="50px" expandedHeight="50px">
    <mat-panel-title cdkDrag [cdkDragData]="stage.matches">
      <span>
        <mat-icon> view_list </mat-icon>
        {{ stage.name }}
      </span>
      <span class="float-right">
        <button mat-icon-button aria-label="remove stage button" (click)="deleteStage.emit(stage)">
          <mat-icon>close</mat-icon>
        </button>
        <mat-icon *ngIf="stage.isComplete">done</mat-icon>
      </span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="collection minus-margin" cdkDropList>
    <div
      *ngFor="let currentMatch of stage.matches"
      class="collection-item no-lines {{ lineStageClass[index % 4] }}"
      (dblclick)="resultForMatch.emit(currentMatch)"
      [class.disabled-item]="isInWaitingListOrOnTableOrCallable(currentMatch)"
      cdkDrag
      [cdkDragDisabled]="!isMatchOpen(currentMatch)"
      [cdkDragData]="[currentMatch]"
    >
      <div class="match-item-padding">
        <toma-discipline-stage-item [match]="currentMatch"></toma-discipline-stage-item>
      </div>
    </div>
  </div>
</mat-expansion-panel>
