.single-bordered {
  border: 1px solid grey;
  padding: 2px 0px;
}

.collection .collection-item.first-stage {
  height: 80px;
  padding: 15px 0px;
}

.collection .collection-item.second-stage {
  height: 160px;
  padding: 55px 0px;
}

.collection .collection-item.third-stage {
  height: 320px;
  padding: 135px 0px;
}

.collection .collection-item.fourth-stage {
  height: 640px;
  padding: 295px 0px;
}

.header-main-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  min-width: 300px;
}

.header-center-content {
  flex: 1;
  order: 1;

}

.header-right-content {
  width: 6rem;
  order: 2;
}

.collection.minus-margin {
  margin: -1rem;
}

.collection-item.no-lines {
  border-bottom: 0px;
}
