.single-bordered {
  border: 1px solid grey;
  padding: 2px 0;
}


.collection .collection-item.first-stage {
  height: 80px;
  padding: 5px 0;
}

.collection .collection-item.second-stage {
  height: 80px;
  padding: 50px 0;
}

.collection .collection-item.third-stage {
  height: 80px;
  padding: 140px 0;
}

.collection .collection-item.fourth-stage {
  height: 80px;
  padding: 320px 0;
}

.header-main-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  min-width: 300px;
}

.header-center-content {
  flex: 1;
  order: 1;
}

.header-right-content {
  width: 6rem;
  order: 2;
}

.collection-item.no-lines {
  border-bottom: 0;
}
