.single-bordered {
  border: 1px solid grey;
  height: 25px;
}

.collapsible-body .collection .collection-item {
  padding: 10px 4px;
}

.padding-right {
  padding-right: 10px;
}

.header-main-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.header-center-content {
  flex: 1;
  order: 1;
}

.header-right-content {
  width: 33px;
  order: 2;
  padding-top: 10px;
}

.two-column-container {
  width: 100%;
  .full-width {
  }
  .fixed-width {
    float: right;
    width: 15px;
  }
}
