<div class="header-main-container">
  <span class="header-center-content">
    <div class="single-bordered two-column-container">
      <toma-team-item
        [team]="match.team1"
        [showDisciplines]="true"
        [result]="match.result ? (match.result | resultPipe: 1) : null"
      ></toma-team-item>
      <!--div *ngIf="match.result" class="fixed-width align-middle">{{ match.result | resultPipe: 2 }}</div-->
    </div>
    <div class="single-bordered two-column-container">
      <toma-team-item
        [team]="match.team2"
        [showDisciplines]="true"
        [result]="match.result ? (match.result | resultPipe: 2) : null"
      ></toma-team-item>
      <!--div *ngIf="match.result" class="fixed-width align-middle">{{ match.result | resultPipe: 2 }}</div-->
    </div>
  </span>
  <span class="header-right-content">
    @if (match.table[0]) {
      <span class="circle right">{{ match.table[0] }}</span>
    }
    @if (isMatchInWaitingList()) {
      <span class="circle right">W</span>
    }
    @if (isMatchCallable()) {
      <span class="circle right">A</span>
    }
    @if (isMatchFinished()) {
      <span class="circle right">F</span>
    }
    @if (isMatchComplete()) {
      <i class="material-icons right">done</i>
    }
  </span>
</div>
