<div class="header-main-container">
  <span class="header-center-content">
    <div class="single-bordered two-column-container">
      <toma-team-item [team]="match.team1" [showDisciplines]="true" [result]="match.result ? (match.result | resultPipe: 1) : null"></toma-team-item>
      <div *ngIf="match.result" class="fixed-width align-middle">{{ match.result | resultPipe: 2 }}</div>
    </div>
    <div class="single-bordered two-column-container">
      <toma-team-item [team]="match.team2" [showDisciplines]="true" class="full-width"></toma-team-item>
    </div>
  </span>
  <span class="header-right-content">
    <span *ngIf="match.table[0]" class="circle right">{{ match.table[0] }}</span>
    <span *ngIf="isMatchInWaitingList()" class="circle right">W</span>
    <span *ngIf="isMatchCallable()" class="circle right">A</span>
    <span *ngIf="isMatchFinished()" class="circle right">F</span>
    <i *ngIf="isMatchComplete()" class="material-icons right">done</i>
  </span>
</div>
