<div class="row without-margin">
    <div class="input-field col s12">
        <toma-discipline-select (disciplineChanged)="onDisciplineSelected($event)"
                                [showWaitingList]="true"></toma-discipline-select>
    </div>
</div>
<div class="row maxHeight">
    <mz-collection>
        <mz-collection-item class="green" *ngFor="let currentMatch of currentMatchesToShow; let i = index;"
                            [class.disabled-item]="!currentMatch.isPlayable">
            <div class="cut-text discipline-match-list-root" *ngIf="currentMatch" cdkDrag>
                <div class="discipline-match-list-item">
                    <span *ngIf="currentMatch.team1[0]">{{currentMatch.team1[0].lastName}}</span>
                    <span *ngIf="currentMatch.team1[1]">/{{currentMatch.team1[1].lastName}}</span>
                    <span *ngIf="currentMatch.team2[0]">- {{currentMatch.team2[0].lastName}}</span>
                    <span *ngIf="currentMatch.team2[1]">/{{currentMatch.team2[1].lastName}}</span>
                </div>
                <div *ngIf="currentMatch.group"
                     class="discipline-match-list-square indigo white-text">{{currentMatch.group.name}}
                </div>
                <div *ngIf="!currentMatch.group" class="discipline-match-list-square indigo white-text">
                    {{currentMatch.matchType |disciplineType}}
                </div>
            </div>
        </mz-collection-item>
    </mz-collection>
    <!--<ul class="collection maxHeight">-->
    <!--<li *ngFor="let currentMatch of matches; let i = index;"-->
    <!--class="collection-item white-text"-->
    <!--[class.disabled-item]="!currentMatch.isPlayable">-->
    <!--<div class="cut-text discipline-match-list-root" *ngIf="currentMatch">-->
    <!--<div class="discipline-match-list-item">-->
    <!--<span *ngIf="currentMatch.team1[0]">{{currentMatch.team1[0].lastName}}</span>-->
    <!--<span *ngIf="currentMatch.team1[1]">/{{currentMatch.team1[1].lastName}}</span>-->
    <!--<span *ngIf="currentMatch.team2[0]">- {{currentMatch.team2[0].lastName}}</span>-->
    <!--<span *ngIf="currentMatch.team2[1]">/{{currentMatch.team2[1].lastName}}</span>-->
    <!--</div>-->
    <!--<div *ngIf="currentMatch.group"-->
    <!--class="discipline-match-list-square indigo white-text">{{currentMatch.group.name}}-->
    <!--</div>-->
    <!--<div *ngIf="!currentMatch.group" class="discipline-match-list-square indigo white-text">-->
    <!--{{currentMatch.matchType |disciplineType}}-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
</div>
