<toma-table-list
        [tables]="tables | async"
        [tablesLoading]="tablesLoading | async"
        (lockTable)="onLockTable($event)"
        (unLockTable)="onUnLockTable($event)"
        (freeTable)="onFreeTable($event)"
        (takeBackTable)="onTakeBackTable($event)"
        (printTable)="onPrintTable($event)"
        (assignSecondTable)="onAssignSecondTable($event)"
        (resultForTable)="onResultForTable($event)"
        (assignMatchToTable)="onAssignMatchToTable($event)"
></toma-table-list>
<div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large blue" (click)="onTableRefresh()">
        <i class="large material-icons">refresh</i>
    </a>
</div>