<mat-card class="tt-table">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Tisch Nr. {{table.table_id}}</mat-card-title>
        <mat-card-subtitle>{{table.current_match.classification}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="flex flex-horizontal-center card-main-center">
            <div class="mat-body-strong">{{table.current_match.player_a | playerName}}</div>
            <div>({{table.current_match.player_a.club}})</div>
            <div>-</div>
            <div class="mat-body-strong">{{table.current_match.player_b | playerName}}</div>
            <div>({{table.current_match.player_b.club}})</div>
        </div>
    </mat-card-content>
</mat-card>
