<h1 mat-dialog-title>Satz Nr. {{gameData.gameNr + 1}}</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-12 text-center">
      Sieger: {{gameData.player | playerName}}
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      ({{gameData.player | clubName}})
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-12 text-center">
      <mat-form-field>
        <input type="number" matInput cdkFocusInitial [(ngModel)]="resultString" (keyup.enter)="onOk()">
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Abbrechen</button>
  <button mat-raised-button color="accent" (click)="onOk()">Ok</button>
</div>
