mat-form-field {
  width: calc(100% - 50px);
}

.full-width {
  width: 100%;
}

//mat-form-field .mat-form-field-infix {
//  width: 250px;
//}

.flex_container {
  display: flex;
  width: 100%;
}
.flex_item_left {
  flex: 1;
}
.flex_item_right {
  width: 40px;
}

::ng-deep .mat-select-panel {
  max-height: 80vh !important;
}
