<div class="pl-5">
  <mat-form-field appearance="fill">
    <mat-label></mat-label>
    <mat-select [(value)]="selectedDiscipline" (selectionChange)="disciplineChanged.emit(+selectedDiscipline)">
      <mat-option *ngFor="let currentDiscipline of openDisciplines" [value]="currentDiscipline.id">
        {{currentDiscipline.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-mini-fab (click)="disciplineRefresh.emit(+selectedDiscipline)">
    <mat-icon>refresh</mat-icon>
  </button>
</div>
