logs
target
.idea
.idea_modules
.classpath
.settings
/RUNNING_PID
/bin
/.cache-tests
/.worksheed
project/**
.sbtserver/
.cache-main
node_modules/
*.iml
.angular
dist

*.tfvars
*.tfvars.json

# Terraform files
**/.terraform/*
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
