<span *ngIf="table?.matchinfo?.length > 0">
  <span class="card-title activator truncate">
    <h5 class="no-margin">
        <span *ngIf="table.table.number" class="circle">{{table.table.number}}</span>
        <span>{{table.matchinfo[0].type.name}}</span>
        <i class="material-icons right">more_vert</i>
   </h5>
  </span>
    <a href="javascript:void(0)" (click)="freeTable.emit(table.table.number)">
        <i class="material-icons right white-text">done</i>
    </a>
  <p class="center-align truncate">
    <b *ngIf="table.table.isLocked">Tisch wird gesperrt. </b>
      <toma-tt-table-match-item [matches]="table.matchinfo"></toma-tt-table-match-item>
  </p>
</span>

<span class="card-title activator" *ngIf="table?.matchinfo?.length < 1">
    <h5>
        <span *ngIf="table.table.number" class="circle">{{table.table.number}}</span>
        <span *ngIf="!table.table.isLocked" id="unLockedId">Frei</span>
        <span *ngIf="table.table.isLocked" id="unLockedId2">Gesperrt</span>
        <i class="material-icons right">more_vert</i>
    </h5>
</span>
