<span *ngIf="table?.matches?.length > 0">
    <h5 class="no-margin">
         <span class="card-title activator truncate">
             <div class=" grid-container">
                 <span *ngIf="table.number" class="circle">{{table.number}}</span>
            <div class="truncate">{{table.matches[0].type.name}}</div>
                 <div><i class="material-icons right no-left-margin">more_vert</i></div>
             </div>

        </span>
    </h5>
    <a href="javascript:void(0)" (click)="freeTable.emit(table.number)">
        <i class="material-icons right white-text">done</i>
    </a>
  <p class="center-align truncate">
    <b *ngIf="table.isLocked">Tisch wird gesperrt. </b>
      <toma-tt-table-match-item [matches]="table.matches"></toma-tt-table-match-item>
  </p>
</span>

<span class="card-title activator" *ngIf="table?.matches?.length < 1" cdkDropList
       (cdkDropListDropped)="drop($event)">
    <h5>
        <span *ngIf="table.number" class="circle">{{table.number}}</span>
        <span *ngIf="!table.isLocked" id="unLockedId">Frei</span>
        <span *ngIf="table.isLocked" id="unLockedId2">Gesperrt</span>
        <i class="material-icons right">more_vert</i>
    </h5>
</span>
