<div class="row">
    <div class="col s2 m3">
        <toma-caller-match-list
                [typeColor]="typeColor | async"
                [matches]="matches | async"
                (matchesSelected)="onMatchesSelected($event)"
                [matchesLoading]="matchesLoading | async">
        </toma-caller-match-list>
    </div>
    <div class="col s8 m6">
        <toma-caller-match-detail
                [typeColor]="typeColor | async"
                [matchAggregate]="selectedItem"
                (matchCalled)="onMatchCalled($event)">
        </toma-caller-match-detail>
    </div>
    <div class="col s2 m3">
        <toma-referees-list
                [referees]="referees | async"
                [refereesLoading]="refereesLoading | async">
        </toma-referees-list>
    </div>
</div>

