<div class="row">
    <div class="col s2 m3">
        <toma-caller-match-list
                [typeColor]="typeColor | async"
                [matchAggregates]="matchAggregates | async"
                (matchesSelected)="onMatchesSelected($event)"
                [matchesLoading]="refereesLoading | async">
        </toma-caller-match-list>
    </div>
    <div class="col s8 m6">
        <toma-caller-match-detail
                [typeColor]="typeColor | async"
                [matchAggregate]="selectedItem | async"
                (matchCalled)="onMatchCalled($event)">
        </toma-caller-match-detail>
    </div>
    <div class="col s2 m3">
        <toma-player-calls
                [typeColor]="typeColor | async"
                [secondCalls]="secondCalls | async"
                [thirdCalls]="thirdCalls | async"
                (matchesSelected)="onMatchesSelected($event)"
                >
        </toma-player-calls>
    </div>
</div>

