<div>
  <mz-spinner *ngIf="matchesLoading"></mz-spinner>
  <div *ngIf="!matchesLoading&&matchAggregates.length>0">
    <mz-collection>
      <mz-collection-header><h4>Spiele zum Ausrufen:</h4></mz-collection-header>
      <mz-collection-item class="{{typeColor[currentMatch?.discipline?.id]}}"
                          (click)="matchesSelected.emit(currentMatch)"
                          *ngFor="let currentMatch of matchAggregates" >
        <div class="cut-text" *ngIf="currentMatch">
          {{currentMatch.name}}
          <span class="circle right" *ngFor="let tableNumber of currentMatch.tableNumbers">{{tableNumber}}</span>
        </div>
      </mz-collection-item>
    </mz-collection>
  </div>
</div>

