<div id="modal2" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content center-align" *ngIf="currentTable&&currentTable.matches[0]">
      <h4>Neues Spiel ausrufen</h4>
      <br/><br/>
      <div class="col s4">
        <h5>Tisch Nr:  {{currentTable.number}}</h5>
        <br/>
        <h5>{{currentTable.matches[0].type.name}}  {{currentTable.matches[0].matchType.name}}</h5>
        <br/><br/>
      <div class="row" *ngIf="!players" >
        <team-match-item [team]="currentTable.matches[0].team1" [showDisciplines]="false" [showClubs]="true"></team-match-item>
        <br/>
        -
        <br/>
        <team-match-item [team]="currentTable.matches[0].team2" [showDisciplines]="false" [showClubs]="true"></team-match-item>
      </div>
      <div class="row" *ngIf="players" >
          <div><h5>Spieler: </h5></div>
          <div *ngFor="let currentPlayer of players">
             <team-match-item [team]="[currentPlayer]" [showDisciplines]="false" [showClubs]="true"></team-match-item> 
          </div>
       </div>
     </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="onCustomOk()">OK</a>
    </div>
  </div>