<mz-spinner *ngIf="tablesLoading"></mz-spinner>

<div *ngIf="!tablesLoading" class="tttable tttable--5cols">
    <div *ngFor="let currentTable of tables" class="tttable-cell">
        <toma-tt-table
                [table]="currentTable"
                (lockTable)="lockTable.emit($event)"
                (unLockTable)="unLockTable.emit($event)"
                (freeTable)="freeTable.emit($event)"
                (takeBackTable)="takeBackTable.emit($event)"
                (onTableAssigned)="onTableAssignedHandler($event)"
                (onResultForMatch)="onResultForMatch($event)"
                (onSelectMatch)="selectMatch.onSelectMatchEvent($event)"
                (onSelectTable)="selectTable.selectTable($event)">
        </toma-tt-table>
    </div>
    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large blue" (click)="onTableRefresh()">
            <i class="large material-icons">refresh</i>
        </a>
        <ul *ngIf="!showMatches">
            <li><a class="btn-floating blue" href="javascript:void(0)" (click)="onSyncWaitingList()"><i
                    class="material-icons">autorenew</i></a></li>
        </ul>
    </div>
</div>

