<div class="header-main-container">
        <span class="header-center-content">
           <div class="single-bordered"><team-match-item [team]="match.team1" [showDisciplines]="true"></team-match-item></div>    
           <div class="single-bordered"><team-match-item [team]="match.team2" [showDisciplines]="true"></team-match-item></div>
        </span>
        <span class="header-right-content-single">
                <span *ngIf="match.table[0]" class="circle right">{{match.table[0]}}</span>
                <i *ngIf="match.match.result"  class="material-icons right">done</i>
        </span>  
</div>
