<span *ngIf="matches">
    <span *ngIf="!matches[1]">
        <b>{{matches[0].matchType.name}} </b><b *ngIf="matches[0].group">{{matches[0].group.name}}</b><br/>
        {{matchToStringService.getPlayersNamesLong(matches[0].team1)}}
        <br/>
        {{matchToStringService.getPlayersNamesLong(matches[0].team2)}}
    </span>
    <span *ngIf="matches[1]">
        <b>Gruppe </b><b *ngIf="matches[0].group">{{matches[0].group.name}}</b><br/>
        Offene Spiele: {{matches.length}}
    </span>
</span>

