<div class="card">
    <div class="card-content custom-padding" [ngClass]="typeColor[table?.matches[0]?.type.id]">
        <toma-tt-table-content
                [table]="table"
                (freeTable)="freeTable.emit(table)"
                (assignMatchToTable)="assignMatchToTable.emit($event)">
        </toma-tt-table-content>
    </div>
    <div class="card-reveal">
        <span class="card-title">Optionen<i class="material-icons right">close</i></span>
        <div class="card-action flex-style">
            <span *ngIf="table?.matches?.length > 0" class="flex-style">
                <a href="javascript:void(0)" (click)="freeTable.emit(table)">Frei</a>
                <a *ngIf="table?.matches?.length === 1" href="javascript:void(0)"
                   (click)="resultForTable.emit(table)">Eingeben</a>
                <a href="javascript:void(0)" (click)="takeBackTable.emit(table)">Zurück</a>
                <a href="javascript:void(0)" (click)="printTable.emit(table)">Drucken</a>
                <a href="javascript:void(0)" (click)="assignSecondTable.emit(table)">2.Tisch</a>
                <a href="javascript:void(0)" (click)="removeFromTable.emit(table)">Entfernen</a>
            </span>
            <a *ngIf="!table.isLocked" href="javascript:void(0)" (click)="lockTable.emit(table.number)">Sperren</a>
            <a *ngIf="table.isLocked" href="javascript:void(0)"
               (click)="unLockTable.emit(table.number)">Entsperren</a>
        </div>
    </div>
</div>
