<div class="row waiting-list-drop-zone">
    <ul class="collection waiting-list-sorting-area" cdkDropList (cdkDropListDropped)="onDropSuccess($event)">
        <li *ngFor="let currentMatch of matchListMatches; let i = index;" cdkDrag
            class="collection-item" [ngClass]="typeColor[currentMatch.matchinfo[0]?currentMatch.matchinfo[0].type.id:0]">
            <div class="cut-text grid-container" *ngIf="!currentMatch.matchinfo[1]&&currentMatch.matchinfo[0]">
                <toma-matchlist-single-item [matchListItem]="currentMatch"
                                            (matchListItemDelete)="matchListItemDelete.emit($event)">
                </toma-matchlist-single-item>
            </div>
            <div class="cut-text" [ngClass]="typeColor[currentMatch.matchinfo[0].type.id]"
                 *ngIf="currentMatch.matchinfo[1]">
                <toma-matchlist-group-item [matchListItem]="currentMatch"
                (matchListItemDelete)="matchListItemDelete.emit($event)"></toma-matchlist-group-item>
            </div>
        </li>
    </ul>
</div>
