<div class="row">
    <div class="col s10">
        <toma-discipline-view
                [matches]="matches | async"
                [disciplines]="disciplines | async"
                [typeColor]="typeColor | async"
                [matchesLoading]="matchesLoading | async"></toma-discipline-view>
    </div>
    <div class="col s2">
        <h4>Warteschlange: </h4>
        <toma-matchlist-view
                [matchListMatches]="matchList |async"
                [typeColor]="typeColor | async"
                (matchListItemDelete)="onMatchListItemDelete($event)"
                (assignMatchListItem)="onAssignMatchListItem($event)"
                (moveMatchListItem)="onMatchListItemMove($event)"
        ></toma-matchlist-view>
    </div>
</div>
