<div class="card {{group.bgColor}}">
    <div class="card-content">
        <span class="card-title group-view-header">
            <span dnd-draggable [dragEnabled]="true" [dragData]="group.matches">{{group.name}}</span>
            <span class="right" *ngIf="group.isComplete" ><i class="material-icons">done</i></span>
            <span class="right" *ngIf="!group.isComplete&&!isGroupPlayable()&&!tableNumbers" ><i class="material-icons">remove_circle_outline</i></span>
            <span class="right" *ngIf="!group.isComplete">{{openMatches}}/{{allMatchCount}}</span>
            <span class="circle right" *ngFor="let tableNumber of tableNumbers">{{tableNumber}}</span> 
        </span>
        <ul materialize="collapsible" class="collapsible" data-collapsible="expandable" [materializeActions]="collapsibleActions">
            <li> 
                <div class="collapsible-header black-text" [class.active]="group.isPlayerActive"><i class="material-icons">perm_identity</i>Spieler</div>
                <div class="collapsible-body group-view-body" >
                    <div class="collection">
                        <a *ngFor="let currentPlayer of group.players" href="javascript:void(0)" class="collection-item">
                            <team-match-item [team]="[currentPlayer]" [showDisciplines]="true"></team-match-item>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header black-text" [class.active]="group.isMatchActive"><i class="material-icons">view_list</i>Spiele</div>
                <div class="collapsible-body group-view-body">
                    <div class="collection">
                        <a *ngFor="let currentMatch of group.matches" [class.disabled-item]="currentMatch.isInWaitingList" href="javascript:void(0)" class="collection-item" (dblclick)="onResultClicked(currentMatch)"
                            dnd-draggable [dragEnabled]="!currentMatch.isPlayed&&!currentMatch.isInWaitingList" [dragData]="currentMatch">
                            <div>
                                <team-match-item [team]="currentMatch.team1" [showDisciplines]="false"></team-match-item>-
                                <team-match-item [team]="currentMatch.team2" [showDisciplines]="false"></team-match-item>
                                <span *ngIf="currentMatch.table[0]" class="circle right">{{currentMatch.table[0]}}</span>
                                <i *ngIf="currentMatch.result"  class="material-icons right">done</i>
                            </div>  
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>