<div class="container-fluid w-100 vh-100">
  <div class="row">
    <div class="col-sm-2 col-md-3">
      <toma-caller-match-list
        [typeColors]="typeColors | async"
        [matchAggregates]="matchAggregates | async"
        (matchesSelected)="onMatchesSelected($event)"
        [matchesLoading]="refereesLoading | async"
      ></toma-caller-match-list>
    </div>
    <div class="col-sm-4 col-md-3">
      <toma-caller-match-detail
        class="h-100"
        [typeColors]="typeColors | async"
        [matchAggregate]="selectedItem | async"
        (matchCalled)="onMatchCalled($event)"
      ></toma-caller-match-detail>
    </div>
    <div class="col-sm-4 col-md-3">
      <toma-second-call-match-detail
        [typeColors]="typeColors | async"
        [matchAggregate]="selectedSecondCallItem | async"
        (matchCalled)="onSecondCallCalled($event)"
      ></toma-second-call-match-detail>
    </div>
    <div class="col-sm-2 col-md-3">
      <toma-player-calls
        [typeColors]="typeColors | async"
        [secondCalls]="secondCalls | async"
        [thirdCalls]="thirdCalls | async"
        (matchesSelected)="onSecondCallMatchesSelected($event)"
      ></toma-player-calls>
    </div>
  </div>
</div>
