<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-3">
      <toma-caller-match-list
        [typeColor]="typeColor | async"
        [matchAggregates]="matchAggregates | async"
        (matchesSelected)="onMatchesSelected($event)"
        [matchesLoading]="refereesLoading | async"
      >
      </toma-caller-match-list>
    </div>
    <div class="col-sm-4 col-md-3">
      <toma-caller-match-detail
        [typeColor]="typeColor | async"
        [matchAggregate]="selectedItem | async"
        (matchCalled)="onMatchCalled($event)"
      >
      </toma-caller-match-detail>
    </div>
    <div class="col-sm-4 col-md-3">
      <toma-second-call-match-detail
        [typeColor]="typeColor | async"
        [matchAggregate]="selectedSecondCallItem | async"
        (matchCalled)="onSecondCallCalled($event)"
      >
      </toma-second-call-match-detail>
    </div>
    <div class="col-sm-2 col-md-3">
      <toma-player-calls
        [typeColor]="typeColor | async"
        [secondCalls]="secondCalls | async"
        [thirdCalls]="thirdCalls | async"
        (matchesSelected)="onSecondCallMatchesSelected($event)"
      >
      </toma-player-calls>
    </div>
  </div>
</div>
