.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.numberCircle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 4px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 32px Arial, sans-serif;
}

span.circle {
    background: #fff;
    border-radius: 0.8em;
    border-color: black;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #000;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em;
}

.square {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.custom-col {
    width: 20%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.text-centering {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.winner-text{
    color: red;
    font-size: large;
    font-weight: bold;
}

.card.custom-padding {
    padding: 5px;
}

.without-margin {
    margin-bottom: 0px;
}

.minheigth {
    min-height: 400px;
}

.waiting-list-drop-zone {
    min-height: 100px;
    width: 200px;
    height: 100px;
    position: fixed;
}

.waiting-list-sorting-area{
    min-height: 100px;
    margin-top: 150px;
}

.waitlist-item-text{
    width: calc(100% - 20px);
}

.maxHeight {
    max-height: 800px;
    overflow: auto;
}

.discipline-match-list-root {
    height: 25px;
}

.discipline-match-list-square {
    width: 25px;
    height: 25px;
    float: right;
    text-align: center
}

.discipline-match-list-item {
    width: calc(100% - 30px);
    float: left;
    line-height: 1rem;
}

.disabled-item{
    khtml-opacity: .50;
    -moz-opacity: .50;
    -ms-filter: ”alpha(opacity=50)”;
    filter: alpha(opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
    opacity: .50;
}

.discipline-stage-view .collapsible .first-stage{
    height: 40px;
}

.discipline-stage-view .collapsible .second-stage{
    height: 80px;
}

.discipline-stage-view .collapsible .third-stage{
    height: 160px;
}

.discipline-stage-view .collapsible .fourth-stage{
    height: 320px;
}


.discipline-stage-view .collapsible .first-stage-result{
    height: 60px;
    padding-top:5px;
}

.discipline-stage-view .collapsible .second-stage-result{
    height: 120px;
    padding-top:40px;
}

.discipline-stage-view .collapsible .third-stage-result{
    height: 240px;
    padding-top:100px;
}

.discipline-stage-view .collapsible .fourth-stage-result{
    height: 480px;
    padding-top:220px;
}

.no-padding{
    padding:0;
}

.minimal-padding{
    padding:5px;
}

.rotate-90 {
    transform: rotate(90deg);
}

.rotate-270 {
    transform: rotate(270deg);
}

.cut-text {
    text-overflow: ellipsis;
}

table.bracket {
    border-collapse: collapse;
    border: none;
}

.bracket td {
    vertical-align: middle;
    width: 40em;
    margin: 0;
    padding: 10px;
}

.bracket td p {
    border-bottom: solid 1px black;
    margin: 0;
    padding: 5px 5px 5px 5px;
}

.bracket th {
    text-align: center;
}

nav ul li.active {
    background-color: rgba(0, 0, 0, 0.38);
}

h4.no-margin{
    margin:0;
}

#toast-container{
    right: 50%;
    top: 86%;
}

.result-string-min-width{
    width: 30px;
    float: right;
}

.full-width-30px{
    width: calc(100% - 30px);
}

.inline-block-root{
    display:inline-block;
}
/* .toast.toast-middle{
    right: 100%;
    top: 95%;
} */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/font/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(/assets/font/MaterialIcons-Regular.woff2) format('woff2'),
         url(/assets/font/MaterialIcons-Regular.woff) format('woff'),
         url(/assets/font/MaterialIcons-Regular.ttf) format('truetype');
 }
 
 .material-icons {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: 24px;  /* Preferred icon size */
   display: inline-block;
   line-height: 1;
   text-transform: none;
   letter-spacing: normal;
   word-wrap: normal;
   white-space: nowrap;
   direction: ltr;
 
   /* Support for all WebKit browsers. */
   -webkit-font-smoothing: antialiased;
   /* Support for Safari and Chrome. */
   text-rendering: optimizeLegibility;
 
   /* Support for Firefox. */
   -moz-osx-font-smoothing: grayscale;
 
   /* Support for IE. */
   font-feature-settings: 'liga';
 }
 