.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.numberCircle {
    border-radius: 50%;
    
    width: 50px;
    height: 50px;
    padding: 4px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 32px Arial, sans-serif;
}

span.circle {
    background: #fff;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #000;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 1.6em;
}



.custom-col {
    width: 20%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.text-centering{
    text-align: center;
}

.text-bold{
    font-weight: bold;
}

.card.custom-padding{
    padding:5px;
}

.without-margin{
    margin-bottom:0px;
}