<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Turniermanager</h1>
    <span class="example-spacer"></span>
    <a href="#" class="padding-left" [routerLink]="['/admin-view/callerView']" routerLinkActive="active">Ausrufer</a>
    <a href="#" class="padding-left" [routerLink]="['/admin-view/tableView']" routerLinkActive="active">Tische</a>
    <a href="#" class="padding-left" [routerLink]="['/admin-view/assignView']" routerLinkActive="active">Zuweiser</a>
    <a href="#" class="padding-left" [routerLink]="['/admin-view/supervisorView']" routerLinkActive="active"
      >Supervisor</a
    >
    <a href="#" class="padding-left" [routerLink]="['/admin-view/resultView']" routerLinkActive="active">Ergebnisse</a>
    <a href="#" class="padding-left" [routerLink]="['/admin-view/playerView']" routerLinkActive="active">Spieler</a>
    <a href="#" class="padding-left" [routerLink]="['/admin-view/settingsView']" routerLinkActive="active"
      >Einstellungen</a
    >
    <a href="#" class="padding-left" [routerLink]="['/admin-view/qrView']" routerLinkActive="active">Scanner</a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a href="#" [routerLink]="['/qrView']">Scanner</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
