<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Turniermanager</h1>
    <span class="example-spacer"></span>
    <span
      [style.cursor]="'pointer'"
      class="padding-left"
      [routerLink]="['/admin-view/callerView']"
      routerLinkActive="active"
      >Ausrufer</span
    >
    <span
      [style.cursor]="'pointer'"
      class="padding-left"
      [routerLink]="['/admin-view/tableView']"
      routerLinkActive="active"
      >Tische</span
    >
    <span
      [style.cursor]="'pointer'"
      class="padding-left"
      [routerLink]="['/admin-view/assignView']"
      routerLinkActive="active"
      >Zuweiser</span
    >
    <span
      [style.cursor]="'pointer'"
      class="padding-left"
      [routerLink]="['/admin-view/supervisorView']"
      routerLinkActive="active"
      >Supervisor</span
    >
    <span
      [style.cursor]="'pointer'"
      class="padding-left"
      [routerLink]="['/admin-view/resultView']"
      routerLinkActive="active"
      >Ergebnisse</span
    >
    <span
      [style.cursor]="'pointer'"
      class="padding-left"
      [routerLink]="['/admin-view/playerView']"
      routerLinkActive="active"
      >Spieler</span
    >
    <span
      [style.cursor]="'pointer'"
      class="padding-left"
      [routerLink]="['/admin-view/settingsView']"
      routerLinkActive="active"
      >Einstellungen</span
    >
    <span
      [style.cursor]="'pointer'"
      class="padding-left"
      [routerLink]="['/admin-view/qrView']"
      routerLinkActive="active"
      >Scanner</span
    >
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a href="#" [routerLink]="['/qrView']">Scanner</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
