.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.numberCircle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 4px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 32px Arial, sans-serif;
}

span.circle {
    background: #fff;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #000;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 1.6em;
}

.square {
  width: 20px;
  height: 20px;
}

.custom-col {
    width: 20%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.text-centering {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.card.custom-padding {
    padding: 5px;
}

.without-margin {
    margin-bottom: 0px;
}

.minheigth {
    min-height: 400px;
}

.waiting-list-drop-zone{
    min-height: 100px;
}

.maxHeight {
    max-height: 800px;
    overflow: auto;
}

.discipline-match-list-root{
    height: 25px;
}

.discipline-match-list-square{
    width: 25px;
    height: 25px;
    float: right;
    text-align: center
}

.discipline-match-list-item{
    width: calc(100% - 30px);
    float: left;
}

.rotate-90{
    transform: rotate(90deg);

}

.rotate-270{
    transform: rotate(270deg);

}

.cut-text{
    text-overflow: ellipsis;
}

table.bracket {
    border-collapse: collapse;
    border: none;
}

.bracket td {
    vertical-align: middle;
    width: 40em;
    margin: 0;
    padding: 10px;
}

.bracket td p {
    border-bottom: solid 1px black;
    margin: 0;
    padding: 5px 5px 5px 5px;
}

.bracket th{
    text-align:center;
}