.dialog-main-center {
  text-align: center;
  margin: 0 0 3em 0;
  padding: 0;
}

.full-width {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.padding-right {
  padding-right: 15px;
}

.game-width {
  width:60px;
  padding: 5px;
}

mat-form-field {
  width: 100%;
}