<mat-card [tomaTypeColor]="table?.matches[0]?.type.id" [typeColors]="typeColors">
  <mat-card-content class="p-2">
    <toma-tt-table-content
      [table]="table"
      (freeTable)="freeTable.emit(table)"
      (assignMatchToTable)="assignMatchToTable.emit($event)"
    ></toma-tt-table-content>
  </mat-card-content>
  @if (!isGameAvailable()) {
    <mat-card-actions class="d-flex flex-row-reverse">
      @if (!table.isLocked) {
        <button mat-button (click)="lockTable.emit(table.number)">Sperren</button>
      }
      @if (table.isLocked) {
        <button mat-button (click)="unLockTable.emit(table.number)">Entsperren</button>
      }
    </mat-card-actions>
  }
  @if (isGameAvailable()) {
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>...</mat-panel-title>
        <mat-panel-description>
          @if (isGameAvailable()) {
            <button mat-button (click)="freeTable.emit(table)">Frei</button>
          }
          @if (table?.matches?.length === 1) {
            <button mat-button (click)="resultForTable.emit(table)">Eingeben</button>
          }
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-card-actions>
        <div>
          @if (!table.isLocked) {
            <button mat-button (click)="lockTable.emit(table.number)">Sperren</button>
          }
          @if (table.isLocked) {
            <button mat-button (click)="unLockTable.emit(table.number)">Entsperren</button>
          }
          @if (isGameAvailable()) {
            <span>
              <button mat-button (click)="takeBackTable.emit(table)">Zurück</button>
              <button mat-button (click)="removeFromTable.emit(table)">Entfernen</button>
              <button mat-button (click)="printTable.emit(table)">Drucken</button>
              <button mat-button (click)="assignSecondTable.emit(table)">2.Tisch</button>
            </span>
          }
        </div>
      </mat-card-actions>
    </mat-expansion-panel>
  }
</mat-card>
