<div class="row">
  <div class="col-6">
    <span>{{ match.players_a | playerName }}</span>
  </div>
  <div class="col-6">
    <span
      matBadge="{{ match.players_b[0].call_count }}"
      [matBadgeHidden]="match.players_b[0].call_count < 2"
      matBadgeColor="warn"
      matBadgeOverlap="false"
      >{{ match.players_b | playerName }}
    </span>
  </div>
</div>
<div class="d-flex justify-content-between w-100">
  <button mat-mini-fab color="accent" (click)="callPlayers()">
    <mat-icon aria-hidden="false">alarm</mat-icon>
  </button>
  
  <button
    mat-mini-fab
    color="warn"
    (click)="startMatch.emit(match.match_id)"
    class="float-right"
  >
    <mat-icon aria-hidden="false">play_arrow</mat-icon>
  </button>
</div>
