<div class="row">
  <toma-discipline-select
    class="p-0"
    (disciplineChanged)="onDisciplineSelected($event)"
    (disciplineRefresh)="disciplineRefresh.emit($event)"
    [showWaitingList]="true"
    [disciplines]="disciplines"
  ></toma-discipline-select>
</div>

<div class="row">
  <mat-spinner *ngIf="matchesLoading"></mat-spinner>
  <mat-list *ngIf="currentDisciplineId !== -1">
    <div
      class="mat-list-item border-bottom border-secondary"
      cdkDropList
      [ngClass]="typeColor[currentMatch.type.id]"
      *ngFor="let currentMatch of currentMatchesToShow; let i = index"
      [class.disabled-item]="!currentMatch.isPlayable"
    >
      <div
        class="discipline-match-list-item col-10 d-flex flex-column h-100 ps-3"
        [cdkDragDisabled]="!currentMatch.isPlayable"
        cdkDrag
        [cdkDragData]="[currentMatch]"
      >
        <i *cdkDragPreview class="material-icons">perm_identity</i>
        <div class="flex-grow-1 d-flex align-items-center cut-text">
          <toma-team-item [team]="currentMatch.team1" [showDisciplines]="false"></toma-team-item>
        </div>
        <div class="flex-grow-1 d-flex align-items-center cut-text">
          <toma-team-item [team]="currentMatch.team2" [showDisciplines]="false"></toma-team-item>
        </div>
        
      </div>
      <div
        *ngIf="currentMatch.group"
        cdkDrag
        [cdkDragData]="getMatch(currentMatch.group.id)"
        [cdkDragDisabled]="!currentMatch.isPlayable"
        class="discipline-match-list-square indigo white-text col-2"
      >
        <i *cdkDragPreview class="material-icons">group</i>
        {{ currentMatch.group.name }}
      </div>
      <div *ngIf="!currentMatch.group" class="discipline-match-list-square indigo white-text col-2">
        {{ currentMatch.matchType | disciplineType }}
      </div>
    </div>
  </mat-list>
  <mat-list *ngIf="currentDisciplineId === -1">
    <span *ngFor="let currentMatch of matchList; let i = index">
      <span *ngIf="currentMatch.matchinfo[0].group !== null">
        <mat-list-item cdkDropList [ngClass]="typeColor[firstMatch(currentMatch).type.id]">
          <toma-single-item
            [typeColor]="typeColor"
            *ngIf="currentMatch.matchinfo.length === 1"
            [currentMatch]="currentMatch.matchinfo[0]"
            [cdkDragDisabled]="anyMatchIsNotPlayable(currentMatch)"
            cdkDrag
            [cdkDragData]="currentMatch.matchinfo"
          >
            <i *cdkDragPreview class="material-icons">perm_identity</i>
          </toma-single-item>
          <toma-matchlist-group
            cdkDrag
            [cdkDragData]="currentMatch.matchinfo"
            [typeColor]="typeColor"
            [cdkDragDisabled]="anyMatchIsNotPlayable(currentMatch)"
            [matchListItem]="currentMatch"
            *ngIf="currentMatch.matchinfo.length > 1"
          >
            <i *cdkDragPreview class="material-icons">group</i>
          </toma-matchlist-group>
        </mat-list-item>
      </span>
      <span *ngIf="currentMatch.matchinfo[0].group === null">
        <mat-list-item
          *ngFor="let currentMatchItem of currentMatch.matchinfo"
          cdkDropList
          [ngClass]="typeColor[firstMatch(currentMatch).type.id]"
        >
          <toma-single-item
            [typeColor]="typeColor"
            [cdkDragDisabled]="!currentMatchItem.isPlayable"
            [currentMatch]="currentMatchItem"
            cdkDrag
            [cdkDragData]="[currentMatchItem]"
          >
            <i *cdkDragPreview class="material-icons">perm_identity</i>
          </toma-single-item>
        </mat-list-item>
      </span>
    </span>
  </mat-list>
</div>
