.discipline-match-list-item {
  width: calc(100% - 50px);
  float: left;
  line-height: 1rem;
}

.discipline-match-list-square {
  width: 40px;
  height: 40px;
  float: right;
  text-align: center;
}

.discipline-match-list-root {
  height: 30px;
}

.without-margin {
  margin-bottom: 0px;
}

.mat-list-item {
  height: 60px;
}
