<div class="col m11 s10">
  <mz-select-container>
    <select mz-select
            id="select-discipline"
            [label]="'Wähle Konkurrenz'"
            [placeholder]="'Konkurrenz'"
            (change)="disciplineChanged.emit(+selectedDiscipline)"
            [(ngModel)]="selectedDiscipline">
      <option *ngFor="let currentDiscipline of openDisciplines" [value]="currentDiscipline.id">
        {{currentDiscipline.name}}
      </option>
    </select>
  </mz-select-container>
</div>

<div class="col m1 s2">
  <a class="btn-floating btn-medium blue" (click)="disciplineChanged.emit(+selectedDiscipline)">
    <i class="medium material-icons">refresh</i>
  </a>
</div>