<div class="pt-2">
  <mat-spinner *ngIf="matchesLoading"></mat-spinner>
  <div *ngIf="!matchesLoading && matchAggregates?.length > 0">
    <h2>Spiele zum Ausrufen:</h2>
    <mat-list>
      <mat-list-item
        [ngClass]="typeColor[currentMatch?.discipline?.id]"
        (click)="matchesSelected.emit(currentMatch)"
        *ngFor="let currentMatch of matchAggregates"
      >
        <div class="d-flex">
          <div>
            {{ currentMatch.name }}
          </div>
          <span class="circle ml-auto" *ngFor="let tableNumber of currentMatch.tableNumbers">{{ tableNumber }}</span>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
