<div class="d-flex flex-wrap gap-05rem">
  <mat-spinner *ngIf="matchesLoading"></mat-spinner>
  <div *ngIf="selectedTab">{{ selectedTab.name }}</div>
  <div *ngFor="let currentTab of tabs">
    <button mat-raised-button [ngClass]="typeColor[currentTab.id]" (click)="this.selectDiscipline.emit(currentTab.id)">
      {{ currentTab.name }}
    </button>
  </div>
  <mat-checkbox [(ngModel)]="showAllMatches">Alle</mat-checkbox>
  <mat-checkbox [(ngModel)]="playersAreOpen">Spieler</mat-checkbox>
  <mat-checkbox [(ngModel)]="matchesAreOpen">Spiele</mat-checkbox>
  <mat-checkbox (change)="this.setTabForId(this.selectedDiscipline)" [(ngModel)]="stopRefresh"
    >Stop
  </mat-checkbox>
</div>
<div *ngIf="selectedTab" [ngClass]="typeColor[selectedTab.id]">
  <div *ngIf="selectedTab.stages" class="row">
    <div class="col-3 pt-2" *ngFor="let currentStage of selectedTab.stages; let r = index">
      <toma-discipline-stage
        [stage]="currentStage"
        [typeColor]="typeColor"
        (resultForMatch)="resultForMatch.emit($event)"
        [index]="r"
        (deleteStage)="onDeleteStage($event)"
      >
      </toma-discipline-stage>
    </div>
  </div>
  <div *ngIf="selectedTab.groups" class="row">
    <div *ngFor="let currentGroup of selectedTab.groups" class="col-3">
      <toma-discipline-group
        [group]="currentGroup"
        [typeColor]="typeColor"
        [showMatches]="matchesAreOpen"
        [showPlayers]="playersAreOpen"
        (resultForMatch)="resultForMatch.emit($event)"
      >
      </toma-discipline-group>
    </div>
  </div>
</div>
