<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo left">Turniermanager</a>
    <ul id="nav-mobile" class="right">
      <li routerLinkActive="active"> <a href="#" [routerLink]="['/tableView']">Ausrufer</a></li>
      <li routerLinkActive="active"> <a href="#" [routerLink]="['/assignView']">Zuweiser</a></li>
      <li routerLinkActive="active"> <a href="#" [routerLink]="['/supervisorView']">Supervisor</a></li>
      <li routerLinkActive="active"> <a href="#" [routerLink]="['/resultView']">Ergebnisse</a></li>
      <!-- <li routerLinkActive="active"> <a href="#" [routerLink]="['/playerView']">Spieler</a></li> -->
      <li routerLinkActive="active"> <a href="#" [routerLink]="['/settingsView']">Einstellungen</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
