<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <div class="black-text header-main-container">
        <span class="header-center-content" *ngIf="matchListItem.matchinfo[0].group">
          <i class="material-icons m-0">group</i>
          <span class="align-top">Gruppe {{matchListItem.matchinfo[0].group.name}}</span>
        </span>
            <span class="header-center-content" *ngIf="!matchListItem.matchinfo[0].group">
          <i class="material-icons m-0">view_list</i>
          <span class="align-top">{{matchListItem.matchinfo[0].matchType |disciplineType}}</span>
        </span>
            <span class="header-right-content">
            <a href="javascript:void(0)" (click)="matchListItemDelete.emit(matchListItem)">
            <i class="material-icons">close</i></a>
        </span>
        </div>
    </mat-expansion-panel-header>
    <mat-list>
        <mat-list-item *ngFor="let matchGroup of matchListItem.matchinfo">
            <toma-team-item [team]="matchGroup.team1"></toma-team-item>
            -
            <toma-team-item [team]="matchGroup.team2"></toma-team-item>
        </mat-list-item>
    </mat-list>
</mat-expansion-panel>
