<div *ngIf="matchAggregate">
    <div class="card center-align" >
        <div class="card-content simple-padding">
            <span class="card-title " [ngClass]="typeColor[matchAggregate.discipline.id]">
            <h3>{{matchAggregate.discipline.name}}</h3>
            </span>
            <br/>
            <h4>{{matchAggregate.name}}</h4>
            <br/><br/>
            <h4>Tisch
                <span class="circle" *ngFor="let tableNumber of matchAggregate.tableNumbers">{{tableNumber}}</span>
            </h4>
            <br/><br/>
            <div class="row" *ngIf="matchAggregate?.matches?.length === 1">
                <h5>
                    <div>
                        Schiedsrichter: ?
                    </div>
                    <br/><br/>
                    <div *ngFor="let currentPlayer of matchAggregate.matches[0].team1">{{[currentPlayer]| ttPlayerNameReducer}}</div>
                    <br/>
                    -
                    <br/>
                    <br/>
                    <div *ngFor="let currentPlayer of matchAggregate.matches[0].team2">{{[currentPlayer]| ttPlayerNameReducer}}</div>
                </h5>
            </div>
            <div class="row" *ngIf="matchAggregate?.matches?.length > 1">
                <div><h3>Spieler: </h3></div>
                <h5>
                    <div *ngFor="let currentPlayer of matchAggregate.players">
                        {{[currentPlayer] | ttPlayerNameReducer}}
                    </div>
                </h5>

            </div>
        </div>
        <div class="card-action white" *ngIf="stateIsCallable()">
            <button mat-raised-button (click)="onMatchCalled()" color="primary">OK</button>
        </div>
    </div>
</div>
<div class="center-align" *ngIf="!matchAggregate">
    <h2>Keine Spiele zum Ausrufen</h2>
    <i class="large material-icons">beach_access</i>
</div>

