.group-view-header.card-title {
  font-size: 20px;
}

.group-view-body.collapsible-body {
  padding: 0;
}

.card .card-content.simple-padding {
  padding: 10px;
}

.collection.custom-margin {
  margin: -30px;
}
