<div class="pt-4">
  <mat-card>
    <mat-card-title>
      <div class="p-1 card-title group-view-header black-text" cdkDropList>
        <span cdkDrag [cdkDragDisabled]="!groupIsDraggable()" [cdkDragData]="group.matches">{{ group.name }}</span>
        <mat-icon *ngIf="group.isComplete">done</mat-icon>
        <mat-icon *ngIf="groupIsNotPlayable()">remove_circle_outline</mat-icon>
        <span class="float-end" *ngIf="groupIsNotComplete()">{{ openMatches }}/{{ allMatchCount }}</span>
        <span class="circle float-end" *ngFor="let tableNumber of tableNumbers">{{ tableNumber }}</span>
        <span class="circle float-end" *ngIf="isGroupInWaitingList()">W</span>
      </div>
    </mat-card-title>
    <mat-card-content>
      <mat-expansion-panel [expanded]="showPlayers">
        <mat-expansion-panel-header [tomaTypeColor]="group?.matches[0]?.type.id" [typeColors]="typeColors" collapsedHeight="40px" expandedHeight="40px">
          <mat-panel-title>
            <mat-icon>perm_identity</mat-icon>
            Spieler
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let currentPlayer of group.players">
            <toma-team-item [team]="[currentPlayer]" [showDisciplines]="true"></toma-team-item>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="showMatches">
        <mat-expansion-panel-header [tomaTypeColor]="group?.matches[0]?.type.id" [typeColors]="typeColors" collapsedHeight="40px" expandedHeight="40px">
          <mat-panel-title>
            <mat-icon>view_list</mat-icon>
            Spiele
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list cdkDropList>
          <mat-list-item
            *ngFor="let currentMatch of group.matches"
            (dblclick)="resultForMatch.emit(currentMatch)"
            cdkDrag
            [cdkDragDisabled]="currentMatch.state !== openMatchState"
            [cdkDragData]="[currentMatch]"
            class="collection-item"
            [class.disabled-item]="currentMatch.state === inWaitingListState"
          >
            <div class="d-flex justify-content-between w-100">
              <div class="text-truncate">
                <toma-team-item [team]="currentMatch.team1" [showDisciplines]="false"></toma-team-item>
                -
                <toma-team-item [team]="currentMatch.team2" [showDisciplines]="false"></toma-team-item>
              </div>
              <div class="ms-auto">
                <span *ngIf="currentMatch.table[0]" class="circle right">{{ currentMatch.table[0] }}</span>
                <span *ngIf="currentMatch.result" class="right">{{ currentMatch.result | resultPipe }}</span>
                <span class="circle right" *ngIf="currentMatch.state === inWaitingListState">W</span>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
</div>
