<div class="card grey">
    <div class="card-content simple-padding">
         <span class="card-title group-view-header">
            <span dnd-draggable [dragEnabled]="true" [dragData]="group.matches">{{group.name}}</span>
            <span class="right" *ngIf="group.isComplete"><i class="material-icons">done</i></span>
            <span class="right" *ngIf="!group.isComplete&&!isGroupPlayable()&&!tableNumbers"><i class="material-icons">remove_circle_outline</i></span>
            <span class="right" *ngIf="!group.isComplete">{{openMatches}}/{{allMatchCount}}</span>
            <span class="circle right" *ngFor="let tableNumber of tableNumbers">{{tableNumber}}</span>
        </span>
    </div>
    <mz-collapsible
            [mode]="'expandable'">
        <mz-collapsible-item [active]="group.isPlayerActive" class="no-padding">
            <mz-collapsible-item-header>
                <i class="material-icons">perm_identity</i>Spieler
            </mz-collapsible-item-header>
            <mz-collapsible-item-body class="no-padding">
                <mz-collection>
                    <mz-collection-item *ngFor="let currentPlayer of group.players">
                        <toma-team-item [team]="[currentPlayer]" [typeColor]="typeColor"
                                        [showDisciplines]="true"></toma-team-item>
                    </mz-collection-item>
                </mz-collection>
            </mz-collapsible-item-body>
        </mz-collapsible-item>
        <mz-collapsible-item [active]="group.isMatchActive">
            <mz-collapsible-item-header>
                <i class="material-icons">view_list</i>Spiele
            </mz-collapsible-item-header>
            <mz-collapsible-item-body>
                <mz-collection>
                    <mz-collection-item *ngFor="let currentMatch of group.matches"
                                        (dblclick)="onResultClicked(currentMatch)"
                                        dnd-draggable
                                        [dragEnabled]="!currentMatch.match.isPlayed&&!currentMatch.isInWaitingList"
                                        [dragData]="currentMatch">
                        <div>
                            <toma-team-item [team]="currentMatch.team1"
                                            [typeColor]="typeColor"
                                            [showDisciplines]="false"></toma-team-item>
                            -
                            <toma-team-item [team]="currentMatch.team2"
                                            [typeColor]="typeColor"
                                            [showDisciplines]="false"></toma-team-item>
                            <span *ngIf="currentMatch.table[0]"
                                  class="circle right">{{currentMatch.table[0]}}</span>
                            <i *ngIf="currentMatch.match.result" class="material-icons right">done</i>
                        </div>
                    </mz-collection-item>
                </mz-collection>
            </mz-collapsible-item-body>
        </mz-collapsible-item>
    </mz-collapsible>
</div>