.group-view-header.card-title {
  font-size: 20px;
}

.group-view-body.collapsible-body {
  padding: 0;
}

.card .card-content.simple-padding {
  padding: 10px;
}

.card .collapsible-body {
  padding: 0px;
}

.card li div.collapsible-body {
  padding: 0;
}