<ul materialize="collapsible" class="collapsible" data-collapsible="expandable">
    <li >
        <div class="collapsible-header {{stage.bgColor}}" [class.active]="isOpen">
            <div dnd-draggable [dragEnabled]="true" [dragData]="stage.matches" class="header-main-container">
                <span class="header-center-content">
                        <i class="material-icons">view_list</i>
                        {{stage.name}}
                </span>
                <span class="header-right-content"  >
                        <a href="javascript:void(0)" class="secondary-content" (click)="onDelete()"><i class="material-icons white-text" >close</i></a>
                        <i *ngIf="stage.isComplete" class="material-icons white-text">done</i>
                </span>
            </div>
           
        </div>
        <div class="collapsible-body no-padding">
            <div class="collection">
                <a *ngFor="let currentMatch of stage.matches" href="javascript:void(0)" class="collection-item {{lineStageClass[index]}}" (dblclick)="onResultClicked(currentMatch)"
                [class.disabled-item]="currentMatch.isInWaitingList&&!currentMatch.match.result" dnd-draggable [dragEnabled]="!currentMatch.isInWaitingList&&!currentMatch.match.result" [dragData]="currentMatch">
                    <div>
                        <match-item [match]="currentMatch"></match-item> 
                    </div>    
                </a>
            </div>
        </div>
    </li>
</ul>