<div class="col m11 s10">
        <select  materialize="material_select" (change)="onTypeChanged.emit(selectedDiscipline)" [(ngModel)]="selectedDiscipline" >
                <option *ngFor="let currentDiscipline of disciplines" [value]="currentDiscipline.id">
                        {{currentDiscipline.name}}
                </option>
        </select>
        <label>Konkurrenz</label>
</div>

<div class="col m1 s2">
        <a class="btn-floating btn-medium blue" (click)="onDisciplineChanged()">
                <i class="medium material-icons">refresh</i>
        </a>
</div>

