<mz-modal #selectMatchModal [fixedFooter]="true" [options]="modalOptions">
    <mz-modal-header class="center-align padding-5">
        <h4>Wähle Spiel</h4>
    </mz-modal-header>
    <mz-modal-content>
        <form class="col s12">
            <div class="row">
                <div class="col s10">
                    <p *ngFor="let match of matches; let i= index;">
                        <!--<mz-checkbox-container *ngFor="let match of matches; let i= index;">-->
                        <!--<input mz-checkbox-->
                        <!--name="match{{match.match.id}}"-->
                        <!--[label]="'Validate as email'"-->
                        <!--[filledIn]="true"-->
                        <!--[(ngModel)]="matches[i].isSelected"-->
                        <!--type="checkbox">-->
                        <!--</mz-checkbox-container>-->
                        <!--<mz-input-container>-->
                        <input name="inputMatch{{match.match.id}}"
                               type="checkbox"
                               id="inputMatch{{match.match.id}}"
                               [(ngModel)]="currentValues[i]"/>
                        <label for="inputMatch{{match.match.id}}">
                            {{match.team1 | ttPlayerNameReducer}}
                            -
                            {{match.team2 | ttPlayerNameReducer}}
                        </label>
                    </p>
                </div>
            </div>
        </form>
    </mz-modal-content>
    <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Abbrechen</button>
        <button mz-button [flat]="true" mz-modal-close (click)="fireEventAndClose(matches)">Alle</button>
        <button mz-button [flat]="true" mz-modal-close (click)="onOk()">OK</button>
    </mz-modal-footer>
</mz-modal>