table, th, td{border: 1px solid black;}
table {
    border-collapse: collapse;
}
.full-width{
    width: 100%;
}
.first-column{
    width:40%;
}
.set-column{
    width:10%;
}
.30-percent{
       width:30%;
   }
.half-width{
    width:50%;
}

td{
    height: 30px;
}