<span *ngIf="team[1] && team[0]">
  <span *ngIf="showDisciplines">
    <span *ngFor="let currentType of team[0].types" [ngClass]="typeColor[currentType]" class="square"></span>
  </span>
  {{ team[0].lastName }}/
  <span *ngIf="showDisciplines">
    <span *ngFor="let currentType of team[1].types" [ngClass]="typeColor[currentType]" class="square"></span>
  </span>
  {{ team[1].lastName }}
</span>
<span *ngIf="!team[1] && team[0]">
  <span *ngIf="showDisciplines">
    <span *ngFor="let currentType of team[0].types" [ngClass]="typeColor[currentType]" class="square"></span>
  </span>
  {{ team[0].firstName }} {{ team[0].lastName }}
  <span *ngIf="showClubs"> ({{ team[0].club.clubName }}) </span>
</span>
<span *ngIf="!team[1] && !team[0]"> [Frei] </span>
