<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo left">Turniermanager</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li routerLinkActive="active">
                <a href="#" [routerLink]="['/callerView']">Ausrufer</a>
            </li>
            <li routerLinkActive="active">
                <a href="#" [routerLink]="['/tableView']">Tische</a>
            </li>
            <li routerLinkActive="active">
                <a href="#" [routerLink]="['/assignView']">Zuweiser</a>
            </li>
            <li routerLinkActive="active">
                <a href="#" [routerLink]="['/supervisorView']">Supervisor</a>
            </li>
            <li routerLinkActive="active">
                <a href="#" [routerLink]="['/resultView']">Ergebnisse</a>
            </li>
            <li routerLinkActive="active">
                <a href="#" [routerLink]="['/playerView']">Spieler</a>
            </li>
            <li routerLinkActive="active">
                <a href="#" [routerLink]="['/settingsView']">Einstellungen</a>
            </li>
            <li routerLinkActive="active">
                <a href="#" [routerLink]="['/qrView']">Scanner</a>
            </li>
        </ul>
        <ul id="mobile-navigation" class="hide-on-large-only right">
            <li routerLinkActive="active">
                <a href="#" [routerLink]="['/qrView']">Scanner</a>
            </li>
        </ul>

    </div>
</nav>

<!--<mz-navbar>-->
<!--<a href="#" class="brand-logo left">Turniermanager</a>-->
<!--<mz-navbar-item-container [align]="'right hide-on-med-and-down'">-->
<!--<mz-navbar-item [active]="active">-->
<!--<a [routerLink]="['/callerView']">Ausrufer</a>-->
<!--</mz-navbar-item>-->
<!--<mz-navbar-item [active]="active">-->
<!--<a [routerLink]="['/tableView']">Tische</a>-->
<!--</mz-navbar-item>-->
<!--<mz-navbar-item [active]="active">-->
<!--<a [routerLink]="['/assignView']">Zuweiser</a>-->
<!--</mz-navbar-item>-->
<!--<mz-navbar-item [active]="active">-->
<!--<a [routerLink]="['/supervisorView']">Supervisor</a>-->
<!--</mz-navbar-item>-->
<!--<mz-navbar-item [active]="routerLinkActive">-->
<!--<a [routerLink]="['/resultView']">Ergebnisse</a>-->
<!--</mz-navbar-item>-->
<!--<mz-navbar-item [active]="routerLinkActive">-->
<!--<a [routerLink]="['/settingsView']">Einstellungen</a>-->
<!--</mz-navbar-item>-->
<!--<mz-navbar-item [active]="routerLinkActive">-->
<!--<a [routerLink]="['/qrView']">Scanner</a>-->
<!--</mz-navbar-item>-->
<!--</mz-navbar-item-container>-->
<!--</mz-navbar>-->