<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>Match-Management</h1>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="'/tablemanager/1'"> Manager 1 </a>
            <a mat-button [routerLink]="'/tablemanager/2'"> Manager 2 </a>
            <a mat-button [routerLink]="'/tablemanager/3'"> Manager 3 </a>
            <a mat-button [routerLink]="'/tablemanager/4'"> Manager 4 </a>
            <a mat-button [routerLink]="'/tablemanager/5'"> Manager 5 </a>
        </div>
    </mat-toolbar-row>

</mat-toolbar>