<mz-modal #selectMatchModal [fixedFooter]="true" [options]="modalOptions">
    <mz-modal-header class="center-align padding-5">
        <h4>Wähle Spiel</h4>
    </mz-modal-header>
    <mz-modal-content>
        <form class="col s12">
            <div class="row">
                <div class="col s10">
                    <p *ngFor="let match of matches; let i= index;">
                        <input name="inputMatch{{match.id}}"
                               type="checkbox"
                               id="inputMatch{{match.id}}"
                               [(ngModel)]="currentValues[i]"/>
                        <label for="inputMatch{{match.id}}">
                            {{match.team1 | ttPlayerNameReducer}}
                            -
                            {{match.team2 | ttPlayerNameReducer}}
                        </label>
                    </p>
                </div>
            </div>
        </form>
    </mz-modal-content>
    <mz-modal-footer>
        <button mat-flat-button mz-modal-close>Abbrechen</button>
        <button mat-flat-button mz-modal-close (click)="fireEventAndClose(matches)">Alle</button>
        <button mat-flat-button mz-modal-close (click)="onOk()">OK</button>
    </mz-modal-footer>
</mz-modal>
