<div class="row">
    <div class="col s12">
      <ul class="tabs"  materialize="tabs">
        <li *ngFor="let currentTab of tabs" class="tab col s3"><a href="#{{currentTab.id}}">{{currentTab.name}}</a></li>
      </ul>
    </div>
    <div *ngFor="let currentTab of tabs" id="{{currentTab.id}}" class="col s12">
        <group-view *ngFor="let currentGroup of {{currentTab.groups}}"  [group]="{{currentGroup}}">
        <!--<group-view [groups]="{{currentTab.groups}}"></group-view>-->
    </div>
  </div>