<div class="card blue darken-1">
    <div class="card-content">
        <span class="card-title">Gruppe A<span class="circle right">2</span><span class="circle right">12</span></span>
            <ul materialize="collapsible" class="collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header"><i class="material-icons">perm_identity</i>Spieler</div>
                    <div class="collapsible-body">
                        <div class="collection">
                            <a href="javascript:void(0)" class="collection-item">Kevin Valentin (TG Söllingen)</a>
                            <a href="javascript:void(0)" class="collection-item light-green darken-1 white-text">Kian Aragian (TTV Ettlingen)</a>
                            <a href="javascript:void(0)" class="collection-item">Daniel Weißkopf (TTV Ettlingen)</a>
                            <a href="javascript:void(0)" class="collection-item light-green darken-1 white-text">Luca Holub (TTSF Hohberg)</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">view_list</i>Spiele</div>
                    <div class="collapsible-body">
                        <div class="collection">
                            <a href="javascript:void(0)" class="collection-item">Valentin - Holub <div class="right">3:0</div></a>
                            <a href="javascript:void(0)" class="collection-item">Aragian - Weißkopf <div class="right">3:2</div></a>
                            <a href="javascript:void(0)" class="collection-item">Valentin - Weißkopf <div class="right">3:1</div></a>
                            <a href="javascript:void(0)" class="collection-item">Aragian - Holub <div class="right">3:0</div></a>
                            <a href="javascript:void(0)" class="collection-item">Valentin - Aragian <span class="circle right">2</span></a>
                            <a href="javascript:void(0)" class="collection-item">Weißkopf - Holub <span class="circle right">12</span></a>
                        </div>
                    </div>
                </li>
            </ul>
    </div>
</div>