<div class="row">
    <div class="col valign"><a href="javascript:void(0)"><i class="material-icons right">close</i></a></div>
    <div class="col">
        <select  materialize="material_select">
            <option value="" disabled selected>Wähle ...</option>
            <option value="1">ODER</option>
            <option value="2">UND</option>
        </select>
        <label>Bedingung</label>
    </div>
    <div class="col">
        <select  materialize="material_select">
            <option value="" disabled selected>Wähle ...</option>
            <option value="1">Konkurrenz</option>
            <option value="2">Spieler</option>
            <option value="3">Typ</option>
        </select>
        <label>Filter</label>
    </div>
    <div class="col">
        <select  materialize="material_select">
            <option value="" disabled selected>Wähle ...</option>
            <option value="1">Herren-A</option>
            <option value="2">Herren-B</option>
            <option value="3">Herren-C</option>
        </select>
        <label>Wert</label>
  </div>
</div>