<div class="row">
        <ul class="collection waiting-list-drop-zone" dnd-droppable (onDropSuccess)="transferDataSuccess($event)"></ul>
</div>
<div class="row">
    <div dnd-sortable-container [sortableData]="matches" [dropZones]="['match-dropZone']">
        <ul class="collection minheigth maxHeight">
                <li *ngFor="let currentMatch of matches; let i = index;" [dragData]="{match: currentMatch, index: i}" (onDragStart)="onDragStart($event)" (onDropSuccess)="onDropSuccess($event)" class="collection-item  " 
                    dnd-sortable [sortableIndex]="i" >
                    <div class="cut-text {{colorArray[currentMatch.matchinfo.type.id]}}" *ngIf="currentMatch.matchinfo">
                        <team-match-item [team]="currentMatch.matchinfo.team1"></team-match-item> - <br/>
                        <team-match-item [team]="currentMatch.matchinfo.team2"></team-match-item>
                        <a href="javascript:void(0)" class="secondary-content" (click)="onDelete(i)"><i class="material-icons white-text" >close</i></a>
                    </div>
                   
                    <div class="cut-text" *ngIf="currentMatch.matches">
                            <ul materialize="collapsible" class="collapsible " data-collapsible="expandable">
                                <li >
                                    <div class="collapsible-header {{currentMatch.bgColor}}">{{currentMatch.name}} 
                                        <span class="right">
                                            <a href="javascript:void(0)" (click)="onDelete(i)"><i class="material-icons white-text" >close</i></a>
                                        </span>
                                    </div>
                                    <div class="collapsible-body">
                                        <div class="collection">
                                            <a *ngFor="let matchGroup of currentMatch.matches" href="javascript:void(0)" class="collection-item">
                                                <team-match-item [team]="matchGroup.team1"></team-match-item> -
                                                <team-match-item [team]="matchGroup.team2"></team-match-item>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                </li>
        </ul>
    </div>
</div>

