<div class="row">
    <ul class="collection minheigth" dnd-droppable (onDropSuccess)="transferDataSuccess($event)">
        <li *ngFor="let currentMatch of matches; let i = index;" class="collection-item indigo white-text">
                    <div class="cut-text" *ngIf="currentMatch.matchinfo">
                        <span *ngIf="currentMatch.matchinfo.team1[0]">{{currentMatch.matchinfo.team1[0].lastName}}</span>
                        <span *ngIf="currentMatch.matchinfo.team1[1]">/{{currentMatch.matchinfo.team1[1].lastName}}</span>
                        <span *ngIf="currentMatch.matchinfo.team2[0]">- {{currentMatch.matchinfo.team2[0].lastName}}</span>
                        <span *ngIf="currentMatch.matchinfo.team2[1]">/{{currentMatch.matchinfo.team2[1].lastName}}</span>
                        <span class="right">
                            <a href="javascript:void(0)" (click)="onDelete(i)"><i class="material-icons white-text" >close</i></a>
                            <!--<a href="javascript:void(0)" (click)="onUp(i)"><i class="material-icons white-text rotate-270"  >play_arrow</i></a>-->
                            <!--<a href="javascript:void(0)" (click)="onDown(i)"><i class="material-icons white-text rotate-90" >play_arrow</i></a>-->
                        </span>
                    </div>
                    <div class="cut-text" *ngIf="currentMatch.matches">
                        <ul materialize="collapsible" class="collapsible " data-collapsible="expandable">
                            <li >
                                <div class="collapsible-header {{currentMatch.bgColor}}">{{currentMatch.name}} 
                                    <span class="right">
                                        <a href="javascript:void(0)" (click)="onDelete(i)"><i class="material-icons white-text" >close</i></a>
                                        <!--<a href="javascript:void(0)" (click)="onUp(i)"><i class="material-icons white-text rotate-270"  >play_arrow</i></a>-->
                                        <!--<a href="javascript:void(0)" (click)="onDown(i)"><i class="material-icons white-text rotate-90" >play_arrow</i></a>-->
                                    </span>
                                </div>
                                <div class="collapsible-body">
                                    <div class="collection">
                                        <a *ngFor="let matchGroup of currentMatch.matches" href="javascript:void(0)" class="collection-item">
                                            {{matchGroup.team1[0].lastName}} - {{matchGroup.team2[0].lastName}}
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
        </li>
    </ul>
</div>

