<div class="row">
	<div class="col s10">
		<ul materialize="collapsible" class="collapsible" data-collapsible="expandable">
			<li>
				<div class="collapsible-header"><i class="material-icons">search</i>Filter</div>
				<div class="collapsible-body">
					<match-filter></match-filter>
				</div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">view_module</i>Spiele</div>
				<div class="collapsible-body">
					<discipline-view></discipline-view>
				</div>
			</li>
		</ul>
	</div>
	<div class="col s2">
		<h4>Nächste Spiele: </h4>
		<match-list></match-list>
	</div>
</div>