<div class="row without-margin" *ngFor="let i of rowCount" >
			<div *ngFor="let currentTable of tables | slice:(i*5):(i+1)*5" class="col custom-col">
				<tt-table [table]="currentTable" 
					(onTableAssigned)="onTableAssignedHandler($event)" 
					(onResultForMatch)="onResultForMatch($event)" 
					(onSelectMatch)="selectMatch.onSelectMatchEvent($event)"
					(onSelectTable)="selectTable.selectTable($event)">
			</tt-table>
		</div>
</div>
<div class="fixed-action-btn horizontal">
		<a class="btn-floating btn-large blue" (click)="onTableRefresh()">
		  <i class="large material-icons">refresh</i>
		</a>
	</div>
<modal-select-match></modal-select-match>
<modal-result></modal-result>
<modal-select-table></modal-select-table>
<modal-show-match (onClose)="onShowMatchClosed($event)"></modal-show-match>