<div class="d-flex justify-content-between pt-1">
  <div class="text-truncate">
    <div class="d-flex align-items-center">
      <toma-team-item [team]="matchListItem.matchinfo[0].team1"></toma-team-item>
    </div>
    <div class="d-flex align-items-center">
      <toma-team-item [team]="matchListItem.matchinfo[0].team2"></toma-team-item>
    </div>
  </div>
  <div>
    <div class="discipline-match-list-square indigo white-text text-center">
      {{ matchListItem.matchinfo[0].matchType | disciplineType }}
    </div>
    <a href="javascript:void(0)" class="secondary-content" (click)="matchListItemDelete.emit(matchListItem)">
      <i class="material-icons">close</i>
    </a>
  </div>
</div>
