span.circle {
  background: #fff;
  border-radius: 0.8em;
  border-color: black;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #000;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em;
}

.disabled-item {
  khtml-opacity: .50;
  filter: alpha(opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
  opacity: .50;
}