<div class="d-flex flex-column">
  <div class="col">
    <h1>Warteliste</h1>
  </div>
  <div class="pt-3">
    <input type="checkbox" class="filled-in" [(ngModel)]="fixWaitingList" id="fix-waiting-list" />
    <label for="fix-waiting-list">Fixed</label>
  </div>
  <div class="flex-grow-1 d-flex flex-column">
    <mat-list
      cdkDropList
      (cdkDropListDropped)="onDropSuccess($event)"
      [class.waiting-list-fixed-position]="fixWaitingList"
      class="waiting-list-drop-zone pt-0 pl-0 custom-border"
    >
      <mat-list-item
        *ngFor="let currentMatch of matchListMatches; let i = index"
        cdkDrag
        class="border-bottom"
        [ngClass]="typeColor[currentMatch.matchinfo[0] ? currentMatch.matchinfo[0].type.id : 0]"
      >
        <div class="cut-text" *ngIf="!currentMatch.matchinfo[1] && currentMatch.matchinfo[0]">
          <toma-matchlist-single-item
            [matchListItem]="currentMatch"
            (matchListItemDelete)="matchListItemDelete.emit($event)"
          >
          </toma-matchlist-single-item>
        </div>
        <div
          class="cut-text mb-3 mt-3"
          [ngClass]="typeColor[currentMatch.matchinfo[0].type.id]"
          *ngIf="currentMatch.matchinfo[1]"
        >
          <toma-matchlist-group-item
            [matchListItem]="currentMatch"
            (matchListItemDelete)="matchListItemDelete.emit($event)"
          ></toma-matchlist-group-item>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>

