<div class="header-main-container">
        <span class="header-center-content">
           <div class="single-bordered">
               <toma-team-item [team]="match.team1" class="padding-left"
                               [showDisciplines]="true"></toma-team-item>
               <span *ngIf="match.result" class="right padding-right">{{match.result | resultPipe:1}}</span>
           </div>
           <div class="single-bordered">
               <toma-team-item [team]="match.team2" class="padding-left"
                               [showDisciplines]="true"></toma-team-item>
               <span *ngIf="match.result" class="right padding-right">{{match.result | resultPipe:2}}</span>
           </div>
        </span>
    <span class="header-right-content">
                <span *ngIf="match.table[0]" class="circle right">{{match.table[0]}}</span>
                <span *ngIf="isMatchInWaitingList()" class="circle right">W</span>
                <span *ngIf="isMatchCallable()" class="circle right">A</span>
                <span *ngIf="isMatchFinished()" class="circle right">F</span>
                <i *ngIf="isMatchComplete()" class="material-icons right">done</i>
        </span>
</div>
