<html>
<head>
</head>

<body>
<h2>[type]</h2>
<br/>
<h3>[matchtype] [id]</h3>
<table class="full-width">
    <thead>
    <td class="first-column">
        Spieler
    </td>
    <td class="set-column">
        1. Satz
    </td>
    <td class="set-column">
        2. Satz
    </td>
    <td class="set-column">
        3. Satz
    </td>
    <td class="set-column">
        4. Satz
    </td>
    <td class="set-column">
        5. Satz
    </td>
    <td>
        Ergebnis
    </td>
    </thead>
    <tbody>
    <tr>
        <td>
            [name1]
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            [name2]
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
    </tr>
    </tbody>
</table>
<br/>
<table class="half-width">
    <tr>
        <td class="half-width">Sieger:</td><td class="half-width"></td>
    </tr>
</table>
</body>
</html>