<div class="row" cdkDropListGroup>
    <div class="col-md-2">
        <toma-discipline-match-list
                [matches]="matches | async"
                [matchesLoading]="matchesLoading | async"
                [matchList]="matchList | async"
                [disciplines]="disciplines | async"
                [typeColor]="typeColor | async"
                (disciplineRefresh)="onDisciplineRefresh($event)">
        </toma-discipline-match-list>
    </div>
    <div class="col-md-10">
        <toma-table-list-page></toma-table-list-page>
    </div>
</div>

