@()

<!DOCTYPE html>

<html lang="en">

<head>
    <title>TurnierManager</title>

    <script src="@routes.Assets.versioned("javascripts/jquery/dist/jquery.min.js ")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/bootstrap/dist/js/bootstrap.min.js ")" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("javascripts/bootstrap/dist/css/bootstrap.min.css ")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css ")">

    <!-- Polyfill(s) for older browsers -->
    <script src="javascripts/core-js/client/shim.min.js"></script>

    <script src="javascripts/zone.js/dist/zone.js"></script>
    <script src="javascripts/reflect-metadata/Reflect.js"></script>
    <script src="javascripts/systemjs/dist/system.src.js"></script>


    <script>
        System.config({
            baseURL: 'assets/javascripts',
            defaultJSExtensions: true
        });
        System.import('system.config.js')
            .then(function(){
				System.import('app');
			}.catch(function(err) {
					console.error(err);
				})
			)
    </script>


</head>

<body>
    <div class="container" data-ng-cloak>
        <my-app>Loading...</my-app>
    </div>
</body>

</html>