<mz-collapsible
        [mode]="'expandable'"
        [popout]="true">
    <mz-collapsible-item [active]="true">
        <mz-collapsible-item-header>
            <div dnd-draggable [dragEnabled]="true" [dragData]="stage.matches"
                 class=" header-main-container black-text">
              <span class="header-center-content">
              <i class="material-icons">view_list</i>
                  {{stage.name}}
              </span>
                <span class="header-right-content">
                    <a href="javascript:void(0)" class="secondary-content" (click)="deleteStage.emit(stage)"><i
                            class="material-icons">close</i></a>
                  <i *ngIf="stage.isComplete" class="material-icons">done</i>
              </span>
            </div>
        </mz-collapsible-item-header>
        <mz-collapsible-item-body>
            <div class="collection minus-margin">
                <a *ngFor="let currentMatch of stage.matches"
                   class="collection-item no-lines {{lineStageClass[index%3]}}"
                   (dblclick)="resultForMatch.emit(currentMatch)"
                   [class.disabled-item]="isInWaitingListOrOnTable(currentMatch)" dnd-draggable
                   [dragEnabled]="isNotInWaitingListAndNotOnTableAndNotFinished(currentMatch)"
                   [dragData]="currentMatch">
                    <div class="match-item-padding">
                        <toma-discipline-stage-item [match]="currentMatch"></toma-discipline-stage-item>
                    </div>
                </a>
            </div>
        </mz-collapsible-item-body>
    </mz-collapsible-item>
</mz-collapsible>
