<mz-collapsible
        [mode]="'expandable'"
        [onClose]="onClose()"
        [onOpen]="onOpen()"
        [popout]="true">
    <mz-collapsible-item [active]="true">
        <mz-collapsible-item-header>
            <div dnd-draggable [dragEnabled]="true" [dragData]="stage.matches" class="header-main-container">
              <span class="header-center-content">
              <i class="material-icons">view_list</i>
                  {{stage.name}}
              </span>
                <span class="header-right-content">
                  <a href="javascript:void(0)" class="secondary-content" (click)="onDelete()"><i
                          class="material-icons white-text">close</i></a>
                  <i *ngIf="stage.isComplete" class="material-icons white-text">done</i>
              </span>
            </div>
        </mz-collapsible-item-header>
        <mz-collapsible-item-body>
            <mz-collection>
                <mz-collection-item *ngFor="let currentMatch of stage.matches; let i = index;">
                    <a href="javascript:void(0)" class="collection-item {{lineStageClass[i]}}" (dblclick)="onResultClicked(currentMatch)"
                       [class.disabled-item]="currentMatch.isInWaitingList||currentMatch.table[0]" dnd-draggable
                       [dragEnabled]="!currentMatch.isInWaitingList&&!currentMatch.match.result&&!currentMatch.table[0]" [dragData]="currentMatch">
                        <div class="match-item-padding">
                            <toma-discipline-stage-item [match]="currentMatch"></toma-discipline-stage-item>
                        </div>
                    </a>
                </mz-collection-item>
            </mz-collection>
        </mz-collapsible-item-body>
    </mz-collapsible-item>
</mz-collapsible>
