<div class="card {{group.bgColor}}">
    <div class="card-content black-text">
        <span class="card-title"><span dnd-draggable [dragEnabled]="true" [dragData]="group.matches">{{group.name}}</span>

        <span class="right">{{openMatches}}/{{allMatchCount}}</span>
        <span class="circle right" *ngFor="let tableNumber of tableNumbers">{{tableNumber}}</span></span>
        <ul materialize="collapsible" class="collapsible" data-collapsible="expandable">
            <li >
                <div class="collapsible-header" [class.active]="group.isPlayerActive"><i class="material-icons">perm_identity</i>Spieler</div>
                <div class="collapsible-body">
                    <div class="collection">
                        <a *ngFor="let currentPlayer of group.players" href="javascript:void(0)" class="collection-item">
                            {{currentPlayer.firstName}} {{currentPlayer.lastName}}
                            <div *ngFor="let currentType of currentPlayer.types" class="{{typeColors[currentType.id]}} right square"></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header" [class.active]="group.isMatchActive"><i class="material-icons">view_list</i>Spiele</div>
                <div class="collapsible-body">
                    <div class="collection">
                        <a *ngFor="let currentMatch of group.matches" href="javascript:void(0)" class="collection-item" 
                            dnd-draggable [dragEnabled]="!currentMatch.match.isPlayed" [dragData]="currentMatch">
                                {{currentMatch.team1[0].lastName}} - {{currentMatch.team2[0].lastName}}  
                                <i *ngIf="currentMatch.match.result"  class="material-icons right">done</i></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>