<div class="row without-margin">
    <div class="input-field col s12">
       <discipline-select (onTypeChanged)="onTypeChanged($event)" [showWaitingList]="true"></discipline-select>
    </div>
</div>
<div class="row">
    <ul class="collection maxHeight">
        <li *ngFor="let currentMatch of matches; let i = index;" class="collection-item {{colorArray[currentMatch.type.id]}} white-text"  >
            <div class="cut-text discipline-match-list-root" *ngIf="currentMatch">
                <div class="discipline-match-list-item" dnd-draggable [dragEnabled]="true" [dragData]="{match: currentMatch, isGroup: false, index: i}">
                    <span *ngIf="currentMatch.team1[0]">{{currentMatch.team1[0].lastName}}</span>
                    <span *ngIf="currentMatch.team1[1]">/{{currentMatch.team1[1].lastName}}</span>
                    <span *ngIf="currentMatch.team2[0]">- {{currentMatch.team2[0].lastName}}</span>
                    <span *ngIf="currentMatch.team2[1]">/{{currentMatch.team2[1].lastName}}</span>
                </div>
                <div *ngIf="currentMatch.group" dnd-draggable [dragEnabled]="true" [dragData]="{match: currentMatch, isGroup: true}" class="discipline-match-list-square indigo white-text">{{currentMatch.group.name}}</div>
                <div *ngIf="!currentMatch.group" class="discipline-match-list-square indigo white-text">{{disciplineType[currentMatch.matchType.name]}}</div>
            </div>
        </li>
    </ul>
</div>

