<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Turniermanager</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li> <a href="#" [routerLink]="['/matchView']" >Ausrufer</a></li>
		    <li> <a href="#" [routerLink]="['/matchView']">Supervisor</a></li>
		    <li> <a href="#" [routerLink]="['/matchView']">Ergebnisse</a></li>
        <li> <a href="#" [routerLink]="['/playerView']">Spieler</a></li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>
