    <div class="row">
        <div class="col s6 m2">
            <h5>Nächste Spiele:</h5>
            <ul class="collection">
                <li class="collection-item">1: Maier-Müller</li>
                <li class="collection-item">2: Winterhalter - Günter-Herbert</li>
                <li class="collection-item">8: Aragian - Umapasisivam</li>
                <li class="collection-item">9: Kienzle - Heizmann</li>
            </ul>
        </div>
        <div class="col s6 m2">
          <div class="card orange darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">1: A-Einzel</p></span>
                <p align="center"><br/>
                Mike Schmidt (TTC Weinheim) <br/>
                Manuel Winter (Asv Grünw.) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
        <div class="col s6 m2">
          <div class="card orange darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">2: A-Einzel</p></span>
                <p align="center"><br/>
                Mike Elxnath (TTC Weingarten) <br/>
                Manuel Winter (TTV Ettlingen) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
        <div class="col s6 m2">
          <div class="card blue darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">3: B-Einzel</p></span>
                <p align="center"><br/>
                Mike Schmidt (TTC Weinheim) <br/>
                Manuel Winter (TTV Ettlingen) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
        <div class="col s6 m2">
          <div class="card blue darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">4: B-Einzel</p></span>
                <p align="center"><br/>
                Mike Schmidt (TTC Weinheim) <br/>
                Manuel Winter (TTV Ettlingen) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
        <div class="col s6 m2">
          <div class="card blue darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">5: B-Einzel</p></span>
                <p align="center"><br/>
                Mike Schmidt (TTC Weinheim) <br/>
                Manuel Winter (TTV Ettlingen) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6 m2 offset-m2">
          <div class="card green darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">6: C-Einzel</p></span>
                <p align="center"><br/>
                Mike Schmidt (TTC Weinheim) <br/>
                Manuel Winter (Asv Grünw.) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
        <div class="col s6 m2">
          <div class="card green darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">7: C-Einzel</p></span>
                <p align="center"><br/>
                Mike Elxnath (TTC Weingarten) <br/>
                Manuel Winter (TTV Ettlingen) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
        <div class="col s6 m2">
          <div class="card green darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">8: C-Einzel</p></span>
                <p align="center"><br/>
                Mike Schmidt (TTC Weinheim) <br/>
                Manuel Winter (TTV Ettlingen) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
        <div class="col s6 m2">
          <div class="card green darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">9: C-Einzel</p></span>
                <p align="center"><br/>
                Mike Schmidt (TTC Weinheim) <br/>
                Manuel Winter (TTV Ettlingen) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
        <div class="col s6 m2">
          <div class="card green darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">10: C-Einzel</p></span>
                <p align="center"><br/>
                Mike Schmidt (TTC Weinheim) <br/>
                Manuel Winter (TTV Ettlingen) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
    </div>
     <div class="row">
        <div class="col s6 m2 offset-m2">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">11: D-Einzel</p></span>
                <p align="center"><br/>
                Mike Schmidt (TTC Weinheim) <br/>
                Manuel Winter (Asv Grünw.) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
        <div class="col s6 m2">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">12: D-Einzel</p></span>
                <p align="center"><br/>
                Mike Elxnath (TTC Weingarten) <br/>
                Manuel Winter (TTV Ettlingen) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
        <div class="col s6 m2">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">13: D-Einzel</p></span>
                <p align="center"><br/>
                Mike Schmidt (TTC Weinheim) <br/>
                Manuel Winter (TTV Ettlingen) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
        <div class="col s6 m2">
          <div class="card black darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">14: Damen</p></span>
                <p align="center"><br/>
                Mike Schmidt (TTC Weinheim) <br/>
                Manuel Winter (TTV Ettlingen) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
        <div class="col s6 m2">
          <div class="card black darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">15: Damen</p></span>
                <p align="center"><br/>
                Mike Schmidt (TTC Weinheim) <br/>
                Manuel Winter (TTV Ettlingen) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6 m2 offset-m2">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">11: D-Einzel</p></span>
                <p align="center"><br/>
                Mike Schmidt (TTC Weinheim) <br/>
                Manuel Winter (Asv Grünw.) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
        <div class="col s6 m2">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">12: D-Einzel</p></span>
                <p align="center"><br/>
                Mike Elxnath (TTC Weingarten) <br/>
                Manuel Winter (TTV Ettlingen) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
        <div class="col s6 m2">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">13: D-Einzel</p></span>
                <p align="center"><br/>
                Mike Schmidt (TTC Weinheim) <br/>
                Manuel Winter (TTV Ettlingen) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
        <div class="col s6 m2">
          <div class="card black darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">14: Damen</p></span>
                <p align="center"><br/>
                Mike Schmidt (TTC Weinheim) <br/>
                Manuel Winter (TTV Ettlingen) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
        <div class="col s6 m2">
          <div class="card black darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">15: Damen</p></span>
                <p align="center"><br/>
                Mike Schmidt (TTC Weinheim) <br/>
                Manuel Winter (TTV Ettlingen) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6 m2 offset-m2">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">11: D-Einzel</p></span>
                <p align="center"><br/>
                Mike Schmidt (TTC Weinheim) <br/>
                Manuel Winter (Asv Grünw.) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
        <div class="col s6 m2">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">12: D-Einzel</p></span>
                <p align="center"><br/>
                Mike Elxnath (TTC Weingarten) <br/>
                Manuel Winter (TTV Ettlingen) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
        <div class="col s6 m2">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">13: D-Einzel</p></span>
                <p align="center"><br/>
                Mike Schmidt (TTC Weinheim) <br/>
                Manuel Winter (TTV Ettlingen) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
        <div class="col s6 m2">
          <div class="card black darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">14: Damen</p></span>
                <p align="center"><br/>
                Mike Schmidt (TTC Weinheim) <br/>
                Manuel Winter (TTV Ettlingen) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
        <div class="col s6 m2">
          <div class="card black darken-1">
            <div class="card-content white-text">
              <span class="card-title"><p align="center">15: Damen</p></span>
                <p align="center"><br/>
                Mike Schmidt (TTC Weinheim) <br/>
                Manuel Winter (TTV Ettlingen) </p>
            </div>      
            <div class="card-action">
              <a href="#">Freimachen</a>
              <a href="#">Eingeben</a>
            </div>    
          </div>
        </div>
    </div>


<section class="main" *ngIf="matches.length > 0">
     
		<ul class="todo-list">
			<li *ngFor="let player of players" [class.selected]="player === selectedPlayer" (click)="onSelect(player)">
				<span class="badge">{{player.id}}</span> {{player.firstName}} {{player.lastName}}			
            </li>
		</ul>
</section>