<!--<div class="collection minheigth" dnd-droppable (onDropSuccess)="transferDataSuccess($event)">
    <a *ngFor="let currentMatch of matches" class="collection-item {{colorArray[currentMatch.matchinfo.type.id]}} white-text">

        <span *ngIf="currentMatch.matchinfo.team1[0]">{{currentMatch.matchinfo.team1[0].lastName}}</span> -
        <span *ngIf="currentMatch.matchinfo.team2[0]">{{currentMatch.matchinfo.team2[0].lastName}}</span>
    </a>
</div>-->

<!--<div class="collection minheigth" dnd-sortable-container [sortableData]="matches"  [dropZones]="['boxers-zone']">
    <a *ngFor="let currentMatch of matches; let i = index;" class="collection-item white-text" dnd-sortable [sortableIndex]="i">

        
    </a>
</div>-->
<div class="row">
    <ul class="collection minheigth" dnd-droppable (onDropSuccess)="transferDataSuccess($event)">
        <li *ngFor="let currentMatch of matches; let i = index;" class="collection-item {{colorArray[currentMatch.matchinfo.type.id]}} white-text">
            
                    <span class="cut-text" *ngIf="currentMatch.matchinfo.team1[0]">{{currentMatch.matchinfo.team1[0].lastName}} - </span>
                    <span *ngIf="currentMatch.matchinfo.team2[0]">{{currentMatch.matchinfo.team2[0].lastName}}</span>
            
                <a href="javascript:void(0)" (click)="onDelete(i)"><i class="material-icons right white-text" >close</i></a>
                <a href="javascript:void(0)" (click)="onUp(i)"><i class="material-icons right white-text rotate-270"  >play_arrow</i></a>
                <a href="javascript:void(0)" (click)="onDown(i)"><i class="material-icons right white-text rotate-90" >play_arrow</i></a>
                
        </li>
    </ul>
</div>

