<div class="row">
	<div class="col s10">
		<ul materialize="collapsible" class="collapsible" data-collapsible="expandable">
			<li>
				<div class="collapsible-header"><i class="material-icons">search</i>Filter</div>
				<div class="collapsible-body"><match-filter></match-filter></div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">view_module</i>Spiele</div>
				<div class="collapsible-body">
					<div class="row">
						<div class="col s3">
							<div class="card blue darken-1">
								<div class="card-content">
									<span class="card-title">Gruppe A<span class="circle right">2</span><span class="circle right">12</span></span>
										<ul materialize="collapsible" class="collapsible" data-collapsible="expandable">
											<li>
												<div class="collapsible-header"><i class="material-icons">perm_identity</i>Spieler</div>
												<div class="collapsible-body">
													<div class="collection">
														<a href="javascript:void(0)" class="collection-item">Kevin Valentin (TG Söllingen)</a>
														<a href="javascript:void(0)" class="collection-item light-green darken-1 white-text">Kian Aragian (TTV Ettlingen)</a>
														<a href="javascript:void(0)" class="collection-item">Daniel Weißkopf (TTV Ettlingen)</a>
														<a href="javascript:void(0)" class="collection-item light-green darken-1 white-text">Luca Holub (TTSF Hohberg)</a>
													</div>
												</div>
											</li>
											<li>
												<div class="collapsible-header"><i class="material-icons">view_list</i>Spiele</div>
												<div class="collapsible-body">
													<div class="collection">
														<a href="javascript:void(0)" class="collection-item">Valentin - Holub <div class="right">3:0</div></a>
														<a href="javascript:void(0)" class="collection-item">Aragian - Weißkopf <div class="right">3:2</div></a>
														<a href="javascript:void(0)" class="collection-item">Valentin - Weißkopf <div class="right">3:1</div></a>
														<a href="javascript:void(0)" class="collection-item">Aragian - Holub <div class="right">3:0</div></a>
														<a href="javascript:void(0)" class="collection-item">Valentin - Aragian <span class="circle right">2</span></a>
														<a href="javascript:void(0)" class="collection-item">Weißkopf - Holub <span class="circle right">12</span></a>
													</div>
												</div>
											</li>
										</ul>
								</div>
								
							</div>
						</div>
						<div class="col s3">
							<div class="card blue darken-1">
								<div class="card-content">
									<span class="card-title">Gruppe B<span class="circle right">19</span></span>
										<ul materialize="collapsible" class="collapsible" data-collapsible="expandable">
											<li>
												<div class="collapsible-header"><i class="material-icons">perm_identity</i>Spieler</div>
												<div class="collapsible-body">
													<div class="collection">
														<a href="javascript:void(0)" class="collection-item">Kevin Valentin (TG Söllingen)</a>
														<a href="javascript:void(0)" class="collection-item light-green darken-1 white-text">Kian Aragian (TTV Ettlingen)</a>
														<a href="javascript:void(0)" class="collection-item">Daniel Weißkopf (TTV Ettlingen)</a>
														<a href="javascript:void(0)" class="collection-item light-green darken-1 white-text">Luca Holub (TTSF Hohberg)</a>
													</div>
												</div>
											</li>
											<li>
												<div class="collapsible-header"><i class="material-icons">view_list</i>Spiele</div>
												<div class="collapsible-body">
													<div class="collection">
														<a href="javascript:void(0)" class="collection-item">Valentin - Holub</a>
														<a href="javascript:void(0)" class="collection-item">Aragian - Weißkopf</a>
														<a href="javascript:void(0)" class="collection-item">Valentin - Weißkopf</a>
														<a href="javascript:void(0)" class="collection-item">Aragian - Holub</a>
														<a href="javascript:void(0)" class="collection-item">Valentin - Aragian</a>
														<a href="javascript:void(0)" class="collection-item">Weißkopf - Holub</a>
													</div>
												</div>
											</li>
										</ul>
								</div>
								
							</div>
						</div>
						<div class="col s3">
							<div class="card blue darken-1">
								<div class="card-content">
									<span class="card-title">Gruppe C<span class="circle right">12</span></span>
										<ul materialize="collapsible" class="collapsible" data-collapsible="expandable">
											<li>
												<div class="collapsible-header"><i class="material-icons">perm_identity</i>Spieler</div>
												<div class="collapsible-body">
													<div class="collection">
														<a href="javascript:void(0)" class="collection-item">Kevin Valentin (TG Söllingen)</a>
														<a href="javascript:void(0)" class="collection-item light-green darken-1 white-text">Kian Aragian (TTV Ettlingen)</a>
														<a href="javascript:void(0)" class="collection-item">Daniel Weißkopf (TTV Ettlingen)</a>
														<a href="javascript:void(0)" class="collection-item light-green darken-1 white-text">Luca Holub (TTSF Hohberg)</a>
													</div>
												</div>
											</li>
											<li>
												<div class="collapsible-header"><i class="material-icons">view_list</i>Spiele</div>
												<div class="collapsible-body">
													<div class="collection">
														<a href="javascript:void(0)" class="collection-item">Valentin - Holub</a>
														<a href="javascript:void(0)" class="collection-item">Aragian - Weißkopf</a>
														<a href="javascript:void(0)" class="collection-item">Valentin - Weißkopf</a>
														<a href="javascript:void(0)" class="collection-item">Aragian - Holub</a>
														<a href="javascript:void(0)" class="collection-item">Valentin - Aragian</a>
														<a href="javascript:void(0)" class="collection-item">Weißkopf - Holub</a>
													</div>
												</div>
											</li>
										</ul>
								</div>
								
							</div>
						</div>
						<div class="col s3">
							<div class="card blue darken-1">
								<div class="card-content">
									<span class="card-title">Gruppe D<span class="circle right">15</span></span>
										<ul materialize="collapsible" class="collapsible" data-collapsible="expandable">
											<li>
												<div class="collapsible-header"><i class="material-icons">perm_identity</i>Spieler</div>
												<div class="collapsible-body">
													<div class="collection">
														<a href="javascript:void(0)" class="collection-item">Kevin Valentin (TG Söllingen)</a>
														<a href="javascript:void(0)" class="collection-item light-green darken-1 white-text">Kian Aragian (TTV Ettlingen)</a>
														<a href="javascript:void(0)" class="collection-item">Daniel Weißkopf (TTV Ettlingen)</a>
														<a href="javascript:void(0)" class="collection-item light-green darken-1 white-text">Luca Holub (TTSF Hohberg)</a>
													</div>
												</div>
											</li>
											<li>
												<div class="collapsible-header"><i class="material-icons">view_list</i>Spiele</div>
												<div class="collapsible-body">
													<div class="collection">
														<a href="javascript:void(0)" class="collection-item">Valentin - Holub</a>
														<a href="javascript:void(0)" class="collection-item">Aragian - Weißkopf</a>
														<a href="javascript:void(0)" class="collection-item">Valentin - Weißkopf</a>
														<a href="javascript:void(0)" class="collection-item">Aragian - Holub</a>
														<a href="javascript:void(0)" class="collection-item">Valentin - Aragian</a>
														<a href="javascript:void(0)" class="collection-item">Weißkopf - Holub</a>
													</div>
												</div>
											</li>
										</ul>
								</div>
								
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s3">
							<div class="card blue darken-1">
								<div class="card-content">
									<span class="card-title">Gruppe E<span class="circle right">3</span></span>
										<ul materialize="collapsible" class="collapsible" data-collapsible="expandable">
											<li>
												<div class="collapsible-header"><i class="material-icons">perm_identity</i>Spieler</div>
												<div class="collapsible-body">
													<div class="collection">
														<a href="javascript:void(0)" class="collection-item">Kevin Valentin (TG Söllingen)</a>
														<a href="javascript:void(0)" class="collection-item light-green darken-1 white-text">Kian Aragian (TTV Ettlingen)</a>
														<a href="javascript:void(0)" class="collection-item">Daniel Weißkopf (TTV Ettlingen)</a>
														<a href="javascript:void(0)" class="collection-item light-green darken-1 white-text">Luca Holub (TTSF Hohberg)</a>
													</div>
												</div>
											</li>
											<li>
												<div class="collapsible-header"><i class="material-icons">view_list</i>Spiele</div>
												<div class="collapsible-body">
													<div class="collection">
														<a href="javascript:void(0)" class="collection-item">Valentin - Holub</a>
														<a href="javascript:void(0)" class="collection-item">Aragian - Weißkopf</a>
														<a href="javascript:void(0)" class="collection-item">Valentin - Weißkopf</a>
														<a href="javascript:void(0)" class="collection-item">Aragian - Holub</a>
														<a href="javascript:void(0)" class="collection-item">Valentin - Aragian</a>
														<a href="javascript:void(0)" class="collection-item">Weißkopf - Holub</a>
													</div>
												</div>
											</li>
										</ul>
								</div>
								
							</div>
						</div>
						<div class="col s3">
							<div class="card blue darken-1">
								<div class="card-content">
									<span class="card-title">Gruppe F<span class="circle right">21</span></span>
										<ul materialize="collapsible" class="collapsible" data-collapsible="expandable">
											<li>
												<div class="collapsible-header"><i class="material-icons">perm_identity</i>Spieler</div>
												<div class="collapsible-body">
													<div class="collection">
														<a href="javascript:void(0)" class="collection-item">Kevin Valentin (TG Söllingen)</a>
														<a href="javascript:void(0)" class="collection-item light-green darken-1 white-text">Kian Aragian (TTV Ettlingen)</a>
														<a href="javascript:void(0)" class="collection-item">Daniel Weißkopf (TTV Ettlingen)</a>
														<a href="javascript:void(0)" class="collection-item light-green darken-1 white-text">Luca Holub (TTSF Hohberg)</a>
													</div>
												</div>
											</li>
											<li>
												<div class="collapsible-header"><i class="material-icons">view_list</i>Spiele</div>
												<div class="collapsible-body">
													<div class="collection">
														<a href="javascript:void(0)" class="collection-item">Valentin - Holub</a>
														<a href="javascript:void(0)" class="collection-item">Aragian - Weißkopf</a>
														<a href="javascript:void(0)" class="collection-item">Valentin - Weißkopf</a>
														<a href="javascript:void(0)" class="collection-item">Aragian - Holub</a>
														<a href="javascript:void(0)" class="collection-item">Valentin - Aragian</a>
														<a href="javascript:void(0)" class="collection-item">Weißkopf - Holub</a>
													</div>
												</div>
											</li>
										</ul>
								</div>
								
							</div>
						</div>
						<div class="col s3">
							<div class="card blue darken-1">
								<div class="card-content">
									<span class="card-title">Gruppe G<span class="circle right">22</span></span>
										<ul materialize="collapsible" class="collapsible" data-collapsible="expandable">
											<li>
												<div class="collapsible-header"><i class="material-icons">perm_identity</i>Spieler</div>
												<div class="collapsible-body">
													<div class="collection">
														<a href="javascript:void(0)" class="collection-item">Kevin Valentin (TG Söllingen)</a>
														<a href="javascript:void(0)" class="collection-item light-green darken-1 white-text">Kian Aragian (TTV Ettlingen)</a>
														<a href="javascript:void(0)" class="collection-item">Daniel Weißkopf (TTV Ettlingen)</a>
														<a href="javascript:void(0)" class="collection-item light-green darken-1 white-text">Luca Holub (TTSF Hohberg)</a>
													</div>
												</div>
											</li>
											<li>
												<div class="collapsible-header"><i class="material-icons">view_list</i>Spiele</div>
												<div class="collapsible-body">
													<div class="collection">
														<a href="javascript:void(0)" class="collection-item">Valentin - Holub</a>
														<a href="javascript:void(0)" class="collection-item">Aragian - Weißkopf</a>
														<a href="javascript:void(0)" class="collection-item">Valentin - Weißkopf</a>
														<a href="javascript:void(0)" class="collection-item">Aragian - Holub</a>
														<a href="javascript:void(0)" class="collection-item">Valentin - Aragian</a>
														<a href="javascript:void(0)" class="collection-item">Weißkopf - Holub</a>
													</div>
												</div>
											</li>
										</ul>
								</div>
								
							</div>
						</div>
						<div class="col s3">
							<div class="card blue darken-1">
								<div class="card-content">
									<span class="card-title">Gruppe H<span class="circle right">23</span></span>
										<ul materialize="collapsible" class="collapsible" data-collapsible="expandable">
											<li>
												<div class="collapsible-header"><i class="material-icons">perm_identity</i>Spieler</div>
												<div class="collapsible-body">
													<div class="collection">
														<a href="javascript:void(0)" class="collection-item">Kevin Valentin (TG Söllingen)</a>
														<a href="javascript:void(0)" class="collection-item light-green darken-1 white-text">Kian Aragian (TTV Ettlingen)</a>
														<a href="javascript:void(0)" class="collection-item">Daniel Weißkopf (TTV Ettlingen)</a>
														<a href="javascript:void(0)" class="collection-item light-green darken-1 white-text">Luca Holub (TTSF Hohberg)</a>
													</div>
												</div>
											</li>
											<li>
												<div class="collapsible-header"><i class="material-icons">view_list</i>Spiele</div>
												<div class="collapsible-body">
													<div class="collection">
														<a href="javascript:void(0)" class="collection-item">Valentin - Holub</a>
														<a href="javascript:void(0)" class="collection-item">Aragian - Weißkopf</a>
														<a href="javascript:void(0)" class="collection-item">Valentin - Weißkopf</a>
														<a href="javascript:void(0)" class="collection-item">Aragian - Holub</a>
														<a href="javascript:void(0)" class="collection-item">Valentin - Aragian</a>
														<a href="javascript:void(0)" class="collection-item">Weißkopf - Holub</a>
													</div>
												</div>
											</li>
										</ul>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				
			</li>
		</ul>
	</div>
	<div class="col s2">
		<h4>Nächste Spiele: </h4>
		<div class="collection">
			<a href="javascript:void(0)" class="collection-item blue darken-1 white-text">Aragian - Weißkopf <span class="circle right">5</span></a>
			<a href="javascript:void(0)" class="collection-item blue darken-1 white-text">Valentin - Weißkopf</a>
			<a href="javascript:void(0)" class="collection-item blue darken-1 white-text">Aragian - Holub</a>
			<a href="javascript:void(0)" class="collection-item blue darken-1 white-text">Gruppe C</a>
			<a href="javascript:void(0)" class="collection-item blue darken-1 white-text">Weißkopf - Holub <span class="circle right">12</span></a>
		</div>
	</div>
</div>