<div class="card {{bgColor}}">
    <div class="card-content white-text" *ngIf="match !== undefined">
        <span class="card-title activator">
                <h4><span class="circle">{{table.tableNumber}}</span> {{table.match.type.typeName}}<i class="material-icons right">more_vert</i></h4>
        </span>
        <p align="center">
            {{table.match.stage}}<br/>
            {{firstOpponent}} {{firstClubName}}<br/>
            {{secondOpponent}} {{secondClubName}}
        </p>
    </div>
    <div class="card-reveal">
        <span class="card-title">Optionen<i class="material-icons right">close</i></span>
        <div class="card-action">
            <a href="#">Freimachen</a>
            <a href="#">Eingeben</a>
            <a href="#">Zurücknehmen</a>
            <a href="#">Sperren</a>
        </div>    
    </div>
</div>