<div>
  <div *ngIf="secondCalls">
    <h4>2. Aufruf:</h4>
    <mat-list>
      <mat-list-item [ngClass]="typeColor[currentMatch?.discipline?.id]"
                          (click)="matchesSelected.emit(currentMatch)"
                          *ngFor="let currentMatch of secondCalls" >
        <div class="cut-text" *ngIf="currentMatch">
          {{getStartTime(currentMatch)}} min.
          {{currentMatch.name}}
          <span class="circle right" *ngFor="let tableNumber of currentMatch.tableNumbers">{{tableNumber}}</span>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <div *ngIf="thirdCalls">
    <h4>3. Aufruf:</h4>
    <mat-list>
      <mat-list-item [ngClass]="typeColor[currentMatch?.discipline?.id]"
                          (click)="matchesSelected.emit(currentMatch)"
                          *ngFor="let currentMatch of thirdCalls" >

        <div class="cut-text" *ngIf="currentMatch">
          {{getStartTime(currentMatch)}} min.
          {{currentMatch.name}}
          <span class="circle right" *ngFor="let tableNumber of currentMatch.tableNumbers">{{tableNumber}}</span>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
