<div class="row without-margin" *ngFor="let i of rowCount" >
  <div *ngFor="let currentTable of tables | slice:(i*5):(i+1)*5" class="col custom-col">
    <toma-tttableview [table]="currentTable"
              (onTableAssigned)="onTableAssignedHandler($event)"
              (onResultForMatch)="onResultForMatch($event)"
              (onSelectMatch)="selectMatch.onSelectMatchEvent($event)"
              (onSelectTable)="selectTable.selectTable($event)">
    </toma-tttableview>
  </div>
</div>
<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large blue" (click)="onTableRefresh()">
    <i class="large material-icons">refresh</i>
  </a>
  <ul *ngIf="!showMatches" >
    <li><a class="btn-floating blue" href="javascript:void(0)" (click)="onSyncWaitingList()"><i class="material-icons">autorenew</i></a></li>
  </ul>
</div>
